<nav class="flex items-center justify-between p-4" aria-label="Pagination">
  <div class="flex items-center space-x-2 text-base">
    <a
      href="#"
      class="flex items-center rounded-lg px-3 py-2 text-indigo-600 outline-black hover:bg-gray-300 hover:text-indigo-700 focus:outline dark:text-indigo-400 dark:outline-white dark:hover:bg-zinc-900 dark:hover:text-indigo-400"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M15.41 7.41L14 6l-6 6l6 6l1.41-1.41L10.83 12z"></path>
      </svg>Prev<span class="sr-only"> page</span></a
    >

    <a
      href="#"
      class="flex rounded-lg px-3 py-2 text-indigo-600 outline-black hover:bg-gray-300 hover:text-indigo-700 focus:outline dark:text-indigo-400 dark:outline-white dark:hover:bg-zinc-900 dark:hover:text-indigo-400"
      ><span class="sr-only"> page</span>3
    </a>
    <a
      href="#"
      aria-current="page"
      class="flex rounded-lg bg-indigo-100 px-3 py-2 text-indigo-800 outline-black hover:bg-indigo-300 hover:text-indigo-900 focus:outline dark:bg-zinc-800 dark:text-indigo-100 dark:outline-white dark:hover:bg-zinc-700 dark:hover:text-indigo-200"
      ><span class="sr-only"> page</span>4</a
    >
    <a
      href="#"
      class="flex rounded-lg px-3 py-2 text-indigo-600 outline-black hover:bg-gray-300 hover:text-indigo-700 focus:outline dark:text-indigo-400 dark:outline-white dark:hover:bg-zinc-900 dark:hover:text-indigo-400"
      ><span class="sr-only"> page</span>5</a
    >

    <a
      href="#"
      class="flex items-center rounded-lg px-3 py-2 text-indigo-600 outline-black hover:bg-gray-300 hover:text-indigo-700 focus:outline dark:text-indigo-400 dark:outline-white dark:hover:bg-zinc-900 dark:hover:text-indigo-400"
      >Next<span class="sr-only"> page</span><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg></a
    >
  </div>
</nav>
