<nav class="flex items-center justify-between p-4">
  <div class="flex items-center text-base space-x-2">
    <a
      href="#"
      aria-label="Previous Page"
      class="px-3 py-2 flex items-center rounded-lg text-indigo-600 dark:text-indigo-400 dark:hover:bg-zinc-900 hover:bg-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400 focus:outline outline-black dark:outline-white"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true">
        <path
          fill="currentColor"
          d="M15.41 7.41L14 6l-6 6l6 6l1.41-1.41L10.83 12z"
        ></path>
      </svg><span aria-hidden="true">Prev</span></a
    >

    <a
      href="#"
      class="px-3 py-2 flex text-indigo-600 dark:text-indigo-400 rounded-lg dark:hover:bg-zinc-900 hover:bg-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400 focus:outline outline-black dark:outline-white"
      >3</a
    >
    <a
      href="#"
      aria-current="page"
      class="px-3 py-2 flex text-indigo-800 dark:text-indigo-100 rounded-lg  bg-indigo-100 dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-indigo-300 hover:text-indigo-900 dark:hover:text-indigo-200 focus:outline outline-black dark:outline-white"
      >4</a
    >
    <a
      href="#"
      class="px-3 py-2 flex text-indigo-600 dark:text-indigo-400 rounded-lg dark:hover:bg-zinc-900 hover:bg-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400 focus:outline outline-black dark:outline-white"
      >5</a
    >

    <a
      href="#"
      aria-label="Next Page"
      class="px-3 py-2 flex items-center rounded-lg text-indigo-600 dark:text-indigo-400 dark:hover:bg-zinc-900 hover:bg-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400 focus:outline outline-black dark:outline-white"
      ><span aria-hidden="true">Next</span><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true">
        <path
          fill="currentColor"
          d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z"
        ></path>
      </svg></a
    >
  </div>
</nav>
