<button
  id="modal-open-htm"
  type="button"
  class="inline-flex rounded-lg bg-indigo-800 px-4 py-3 text-sm font-semibold text-gray-50 shadow-lg shadow-indigo-300/40 outline-offset-4 outline-black hover:bg-indigo-700 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
>
  Open Modal
</button>
<dialog
  id="modal-container-htm"
  class="fixed inset-0 z-50 h-screen w-screen overflow-hidden bg-gray-500/0 backdrop:backdrop-blur-sm"
  aria-labelledby="modal-title"
  aria-modal="true"
>
  <div
    class="grid w-full items-center justify-items-center px-4 pb-20 pt-4 text-center text-zinc-900 sm:p-0 dark:text-gray-50"
  >
    <div
      class="flex flex-col overflow-hidden rounded-lg bg-gray-50 text-left text-gray-900 shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:align-middle dark:bg-zinc-800 dark:text-white"
    >
      <h3
        class="mb-4 w-full border-b border-gray-300 p-4 text-lg font-semibold dark:border-zinc-700"
      >
        Confirm Action
      </h3>
      <p class="mx-2 mb-1 px-4 text-lg">
        Your current action will affect the following:
      </p>
      <ul
        class="mx-10 mb-4 max-w-2xl list-outside list-disc space-y-1 marker:text-zinc-500"
      >
        <li>All of your data</li>
        <li>Your account</li>
        <li>Your wallet</li>
      </ul>

      <div
        class="flex w-full flex-row items-end justify-end gap-x-4 border-t border-gray-300 px-4 py-4 dark:border-zinc-700"
      >
        <button
          type="button"
          class="inline-flex rounded-lg bg-indigo-800 px-4 py-3 text-sm font-semibold text-gray-50 outline-offset-4 outline-black hover:bg-indigo-700 focus:outline-4 lg:py-2.5 lg:text-base dark:outline-white"
          id="modal-confirm-htm"
        >
          Confirm
        </button>
        <button
          type="button"
          class="inline-flex rounded-lg border border-gray-400 bg-gray-100 px-4 py-3 text-sm font-semibold text-gray-950 outline-offset-4 outline-black hover:border-gray-500 hover:bg-gray-200 focus:outline-4 lg:py-2.5 lg:text-base dark:border-zinc-700 dark:bg-zinc-950 dark:text-gray-50 dark:outline-white dark:hover:border-zinc-500 dark:hover:bg-zinc-900"
          id="modal-cancel-htm"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</dialog>

<script>
  function modalInitilization() {
    const modal = document.getElementById("modal-container-htm");
    const confirmButton = document.getElementById("modal-confirm-htm");
    const cancelButton = document.getElementById("modal-cancel-htm");
    const openModalButton = document.getElementById("modal-open-htm");

    openModalButton?.addEventListener("click", () => {
      modal?.showModal();
    });

    confirmButton?.addEventListener("click", () => {
      modal?.close();
    });

    cancelButton?.addEventListener("click", () => {
      modal?.close();
    });
  }

  document.addEventListener("DOMContentLoaded", modalInitilization);
</script>
