---
// SimpleModal.astro
---

<button
  id="modal-open"
  type="button"
  class="px-4 py-2 rounded-lg font-semibold text-md disabled:opacity-60 bg-indigo-800 text-gray-50 hover:bg-indigo-700 focus:outline outline-offset-2 outline-indigo-500"
  >Open Modal</button
>
<dialog
  id="modal-container"
  class="transition-all fixed z-50 inset-0 overflow-hidden w-screen h-screen bg-gray-500/0 backdrop:backdrop-blur-sm"
  aria-labelledby="modal-title"
  aria-modal="true">
  <div
    class="grid items-center   justify-items-center w-full pt-4 px-4 pb-20 text-center sm:p-0 text-zinc-900 dark:text-gray-50">
    <div
      class="flex flex-col   text-gray-900 dark:text-white bg-gray-50 dark:bg-zinc-800 rounded-lg text-left overflow-hidden shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <h3
        class="text-lg font-semibold  mb-4 w-full border-b border-gray-300 dark:border-zinc-700 p-4">
        Confirm Action
      </h3>
      <p class="mx-2 mb-1 text-lg px-4">Your current action will affect the following:</p>
      <ul class="mx-10 list-disc list-outside   marker:text-zinc-500 max-w-2xl space-y-1 mb-4">
        <li>All of your data</li>
        <li>Your account</li>
        <li>Your wallet</li>
      </ul>

      <div class="flex flex-row w-full items-end gap-x-4 justify-end px-4 py-4 border-t border-gray-300 dark:border-zinc-700">
        <button
          type="button"
          class="px-4 py-2 rounded-lg font-semibold text-sm sm:text-md disabled:opacity-60 bg-indigo-800 text-gray-50 hover:bg-indigo-700 focus:outline outline-offset-2 outline-indigo-500"
          id="modal-confirm"
          >Confirm</button
        >
        <button
          type="button"
          class="px-4 py-2 rounded-lg font-semibold text-sm sm:text-md border border-gray-400 dark:border-zinc-700 focus:outline outline-offset-2 outline-indigo-500 text-gray-950 bg-gray-100 dark:bg-zinc-950 dark:hover:bg-zinc-900 dark:hover:border-zinc-500 dark:text-gray-50 hover:bg-white hover:border-gray-500"
          id="modal-cancel"
          >Cancel</button
        >
      </div>
    </div>
  </div>
</dialog>

<script>
  function modalInitilization() {
    const modal = document.getElementById(
      "modal-container"
    ) as HTMLDialogElement;
    const confirmButton = document.getElementById(
      "modal-confirm"
    ) as HTMLButtonElement;
    const cancelButton = document.getElementById(
      "modal-cancel"
    ) as HTMLButtonElement;
    const openModalButton = document.getElementById(
      "modal-open"
    ) as HTMLButtonElement;

    openModalButton?.addEventListener("click", () => {
      modal.showModal();
    });
    // Open the modal

    // Close the modal when the confirm button is clicked
    confirmButton?.addEventListener("click", () => {
      modal.close();
    });

    // Close the modal when the cancel button is clicked
    cancelButton?.addEventListener("click", () => {
      modal.close();
    });
  }
  
  document.addEventListener("astro:page-load", modalInitilization);
</script>
