<div
  class="rounded-lg text-base  bg-blue-200 dark:bg-blue-950 p-4 text-blue-950 dark:text-white my-2">
  <div
    class="flex flex-row items-center"
    role="alert"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="mr-3 shrink-0 text-blue-800 dark:text-blue-300">
      <path
        fill="currentColor"
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"
      ></path>
    </svg>
    <span class="sr-only">Information : </span>
    This is an informational alert to notify users about important updates or
    changes.
  </div>
</div>

<div
  class="rounded-lg text-base  bg-green-200 dark:bg-green-950 p-4 text-green-950 dark:text-white my-2">
  <div
    class="flex flex-row items-center"
    role="alert"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="mr-3 shrink-0 text-green-800 dark:text-green-300">
      <path
        fill="currentColor"
        d="M9 16.2L4.8 12l-1.4 1.4L9 19L21 7l-1.4-1.4z"
      ></path>
    </svg>
    <span class="sr-only">Success :</span>
    Congratulations! Your action was completed successfully.
  </div>
</div>

<div
  class="rounded-lg text-base  bg-yellow-200 dark:bg-yellow-700/50 p-4 text-black dark:text-white my-2">
  <div
    class="flex flex-row items-center"
    role="alert"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="mr-3 shrink-0 text-yellow-600 dark:text-yellow-300">
      <path
        fill="currentColor"
        d="M1 21h22L12 2zm12-3h-2v-2h2zm0-4h-2v-4h2z"
      ></path>
    </svg>
    <span class="sr-only">Warning :</span>
    Please proceed with caution. There are potential risks associated with this action.
  </div>
</div>
<div
  class="rounded-lg text-base  bg-red-300 dark:bg-red-950 p-4 text-black dark:text-white my-2">
  <div
    class="flex flex-row items-center"
    role="alert"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="mr-3 shrink-0 text-red-800 dark:text-red-300">
      <path
        fill="currentColor"
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m1 15h-2v-2h2zm0-4h-2V7h2z"
      ></path>
    </svg>
    <span class="sr-only">Error :</span>
    An error occurred while processing your request. Please try again later.
  </div>
</div>
<div
  class="rounded-lg text-base  bg-indigo-200 dark:bg-indigo-950/80 p-4 text-indigo-950 dark:text-white my-2">
  <div
    class="flex flex-row items-center"
    role="note"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="mr-3 shrink-0 text-indigo-800 dark:text-indigo-300">
      <path
        fill="currentColor"
        d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75s-.75-.34-.75-.75s.34-.75.75-.75M9.1 17H7v-2.14l5.96-5.96l2.12 2.12zm7.75-7.73l-1.06 1.06l-2.12-2.12l1.06-1.06c.2-.2.51-.2.71 0l1.41 1.41c.2.2.2.51 0 .71"
      ></path>
    </svg>
    <span class="sr-only">Note :</span>
    Earlier versions of the software may not support this.
  </div>
</div>
