<div
  role="alert"
  class="border rounded-lg text-base  border-blue-600 dark:border-blue-800 my-2 bg-blue-50 dark:bg-blue-950/30 p-4 text-blue-900 dark:text-blue-100">
  <span class="font-bold text-base md:text-lg ">Information : </span> This is an informational alert to
  notify users about important updates or changes.
</div>

<div
  role="alert"
  class="border rounded-lg text-base  border-green-600 dark:border-green-800 bg-green-50 p-4 my-2 dark:bg-green-950/30 text-green-900 dark:text-green-100">
  <span class="font-bold text-base md:text-lg">Success : </span> Congratulations! Your action was completed
  successfully.
</div>

<div
  role="alert"
  class="border rounded-lg text-base  border-yellow-600 dark:border-yellow-500 bg-yellow-100 p-4 my-2 dark:bg-yellow-700/30 text-black dark:text-white">
  <span class="font-bold text-base md:text-lg">Warning : </span> Please proceed with caution. There are
  potential risks associated with this action.
</div>
<div
  role="alert"
  class="border rounded-lg text-base  border-red-600 dark:border-red-500 bg-red-100 p-4 my-2 dark:bg-red-700/30 text-black dark:text-white">
  <span class="font-bold text-base md:text-lg">Error : </span> An error occurred while processing your
  request. Please try again later.
</div>
<div
  role="note"
  class="border rounded-lg text-base  border-indigo-600 dark:border-indigo-900 p-4 my-2 text-indigo-800 dark:text-indigo-300">
  <span class="font-bold text-base md:text-lg">Note : </span> Earlier versions of the software may not
  support this.
</div>
