<div
  role="alert"
  class="rounded-lg text-base bg-blue-200 dark:bg-blue-950 p-4 text-blue-950 dark:text-white my-2">
  <span class="font-bold text-base md:text-lg">Information : </span> This is an informational alert to
  notify users about important updates or changes.
</div>

<div
  role="alert"
  class="rounded-lg text-base bg-green-200 dark:bg-green-950 p-4 text-green-950 dark:text-white my-2">
  <span class="font-bold text-base md:text-lg">Success : </span> Congratulations! Your action was completed
  successfully.
</div>

<div
  role="alert"
  class="rounded-lg text-base bg-yellow-200 dark:bg-yellow-700/50 p-4 text-black dark:text-white my-2">
  <span class="font-bold text-base md:text-lg">Warning : </span> Please proceed with caution. There are
  potential risks associated with this action.
</div>
<div
  role="alert"
  class="rounded-lg text-base bg-red-300 dark:bg-red-950 p-4 text-black dark:text-white my-2">
  <span class="font-bold text-base md:text-lg">Error : </span> An error occurred while processing your
  request. Please try again later.
</div>
<div role="note"
  class="rounded-lg text-base bg-indigo-200 dark:bg-indigo-950/80 p-4 text-indigo-950 dark:text-white my-2">
  <span class="font-bold text-base md:text-lg">Note : </span> Earlier versions of the software may not
  support this.
</div>
