<div
  role="alert"
  class="my-2 rounded-lg bg-blue-200 p-4 text-base text-blue-950 dark:bg-blue-950 dark:text-white"
>
  <span class="text-base font-bold md:text-lg">Information : </span> This is an informational
  alert to notify users about important updates or changes.
</div>

<div
  role="alert"
  class="my-2 rounded-lg bg-green-200 p-4 text-base text-green-950 dark:bg-green-950 dark:text-white"
>
  <span class="text-base font-bold md:text-lg">Success : </span> Congratulations!
  Your action was completed successfully.
</div>

<div
  role="alert"
  class="my-2 rounded-lg bg-yellow-200 p-4 text-base text-black dark:bg-yellow-700/50 dark:text-white"
>
  <span class="text-base font-bold md:text-lg">Warning : </span> Please proceed with
  caution. There are potential risks associated with this action.
</div>
<div
  role="alert"
  class="my-2 rounded-lg bg-red-300 p-4 text-base text-black dark:bg-red-950 dark:text-white"
>
  <span class="text-base font-bold md:text-lg">Error : </span> An error occurred
  while processing your request. Please try again later.
</div>
<div
  role="note"
  class="my-2 rounded-lg bg-indigo-200 p-4 text-base text-indigo-950 dark:bg-indigo-950/80 dark:text-white"
>
  <span class="text-base font-bold md:text-lg">Note : </span> Earlier versions of
  the software may not support this.
</div>
