<div
  role="alert"
  class="my-2 rounded-lg bg-blue-800 p-4 text-base text-white dark:bg-blue-900"
>
  <span class="text-base font-bold md:text-lg">Information : </span> This is an informational
  alert to notify users about important updates or changes.
</div>

<div
  role="alert"
  class="my-2 rounded-lg bg-green-800 p-4 text-base text-white dark:bg-green-900"
>
  <span class="text-base font-bold md:text-lg">Success : </span> Congratulations!
  Your action was completed successfully.
</div>

<div
  role="alert"
  class="my-2 rounded-lg bg-yellow-400 p-4 text-base text-black dark:bg-yellow-500"
>
  <span class="text-base font-bold md:text-lg">Warning : </span> Please proceed with
  caution. There are potential risks associated with this action.
</div>
<div
  role="alert"
  class="my-2 rounded-lg bg-red-800 p-4 text-base text-white dark:bg-red-900"
>
  <span class="text-base font-bold md:text-lg">Error : </span> An error occurred
  while processing your request. Please try again later.
</div>
