<div
  role="alert"
  class="rounded-lg text-base  bg-blue-800 dark:bg-blue-900 p-4 text-white my-2 ">
  <span class="font-bold text-base md:text-lg">Information : </span> This is an informational alert to
  notify users about important updates or changes.
</div>

<div
  role="alert"
  class="rounded-lg text-base  bg-green-800 dark:bg-green-900 p-4 text-white my-2 ">
  <span class="font-bold text-base md:text-lg">Success : </span> Congratulations! Your action was completed
  successfully.
</div>

<div
  role="alert"
  class="rounded-lg text-base  bg-yellow-400 dark:bg-yellow-500 p-4 text-black my-2 ">
  <span class="font-bold text-base md:text-lg">Warning : </span> Please proceed with caution. There are
  potential risks associated with this action.
</div>
<div
  role="alert"
  class="rounded-lg text-base  bg-red-800 dark:bg-red-900 p-4 text-white my-2 ">
  <span class="font-bold text-base md:text-lg">Error : </span> An error occurred while processing your
  request. Please try again later.
</div>
