---
interface TableItem {
  name: string;
  color: string;
  type: string;
  stock: string;
}
/* You can use this interface above to define the structure of your data and receive it as a prop */

const tableData: TableItem[] = [
  {
    name: "T-Shirt",
    color: "Blue",
    type: "Tops",
    stock: "15",
  },
  {
    name: "Jeans",
    color: "Black",
    type: "Bottoms",
    stock: "32",
  },
  {
    name: "Sneakers",
    color: "White",
    type: "Shoes",
    stock: "23",
  },
  {
    name: "Dress",
    color: "Red",
    type: "Dresses",
    stock: "11",
  },
];
---

{tableData.length > 0 && (
  <div class="relative  overflow-x-auto m-2 shadow-md dark:shadow-lg dark:shadow-black rounded-lg ">
    <table class="w-full  text-base text-left text-gray-800 dark:text-gray-300  shadow-md rounded-lg border border-collapse  border-gray-300 dark:border-zinc-800">
      <thead class="text-sm uppercase text-gray-800 dark:text-gray-300 bg-gray-200 dark:bg-zinc-800 ">
        <tr>
          <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-zinc-700">Product</th>
          <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-zinc-700">Color</th>
          <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-zinc-700">Type</th>
          <th scope="col" class="px-6 py-3 border border-gray-300 dark:border-zinc-700">Stock</th>
        </tr>
      </thead>
      <tbody >
        {tableData.map((item) => (
          <tr class="odd:bg-white odd:dark:bg-zinc-950 even:bg-gray-100 even:dark:bg-zinc-900 ">

            <th scope="row" class="px-6 py-3 font-semibold text-gray-900 dark:text-gray-100 whitespace-nowrap border border-gray-300 dark:border-zinc-800">
              {item.name}
            </th>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-800">{item.color}</td>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-800">{item.type}</td>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-800">{item.stock}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
)}
