<div class="w-full overflow-x-auto shadow-md dark:shadow-lg dark:shadow-black rounded-lg ">
    <table class="w-full text-base text-left text-gray-800 dark:text-gray-300  shadow-md rounded-lg dark:bg-black border border-collapse  border-gray-300 dark:border-zinc-800">
      <thead class="text-sm uppercase text-gray-800 dark:text-gray-300 bg-gray-200 dark:bg-zinc-800 ">
        <tr >
          <th
            scope="col"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700 ">
            Product
          </th>
          <th
            scope="col"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700">
            Color
          </th>
          <th
            scope="col"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700">
            Type
          </th>
          <th
            scope="col"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700">
            Stock
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-300 dark:divide-zinc-800">
        <tr class="bg-white dark:bg-zinc-950">
          <th
            scope="row"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700 font-semibold text-gray-900 dark:text-gray-100 whitespace-nowrap">
            T-Shirt
          </th>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Blue </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Tops </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> 15 </td>
        </tr>
        <tr class=" bg-gray-100 dark:bg-zinc-900">
          <th
            scope="row"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700 font-semibold text-gray-900 dark:text-gray-100 whitespace-nowrap">
            Jeans
          </th>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Black </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Bottoms </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> 32 </td>
        </tr>
        <tr class="bg-white dark:bg-zinc-950">
          <th
            scope="row"
            class="px-6 py-3 border border-gray-300 dark:border-zinc-700 font-semibold text-gray-900 dark:text-gray-100 whitespace-nowrap">
            Sneakers
          </th>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> White </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Shoes </td>
          <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> 23 </td>
        </tr>
        <tr class="bg-gray-100 dark:bg-zinc-900">
            <th
              scope="row"
              class="px-6 py-3 border border-gray-300 dark:border-zinc-700 font-semibold text-gray-900 dark:text-gray-100 whitespace-nowrap">
              Dress
            </th>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Red </td>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> Dresses </td>
            <td class="px-6 py-3 border border-gray-300 dark:border-zinc-700"> 11 </td>
          </tr>
      </tbody>
    </table>
  </div>
  