<div class="flex flex-wrap justify-center gap-6 p-6 sm:gap-12">
  <button
    type="button"
    class="inline-flex items-center gap-x-2 rounded-lg bg-indigo-800 px-4 py-3 text-sm font-semibold text-gray-50 shadow-lg shadow-indigo-300/40 outline-offset-4 outline-black hover:bg-indigo-700 focus:outline-4 lg:text-base dark:shadow-none dark:outline-white"
  >
    <span>Send Message</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        d="m4.01 6.03l7.51 3.22l-7.52-1zm7.5 8.72L4 17.97v-2.22zM2.01 3L2 10l15 2l-15 2l.01 7L23 12z"
      ></path>
    </svg>
  </button>
  <button
    type="button"
    class="inline-flex items-center gap-x-2 rounded-lg bg-zinc-900 px-4 py-3 text-sm font-semibold text-gray-50 shadow-lg outline-offset-4 outline-black hover:bg-zinc-800 focus:outline-4 lg:text-base dark:bg-zinc-200 dark:text-zinc-950 dark:shadow-none dark:outline-white dark:hover:bg-zinc-50"
    ><span>Send Message</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        d="m4.01 6.03l7.51 3.22l-7.52-1zm7.5 8.72L4 17.97v-2.22zM2.01 3L2 10l15 2l-15 2l.01 7L23 12z"
      ></path>
    </svg></button
  >
  <button
    type="button"
    class="inline-flex items-center gap-x-2 rounded-lg bg-gray-700 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-gray-600 focus:outline-4 lg:text-base dark:shadow-none dark:outline-white"
    ><span>Send Message</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        d="m4.01 6.03l7.51 3.22l-7.52-1zm7.5 8.72L4 17.97v-2.22zM2.01 3L2 10l15 2l-15 2l.01 7L23 12z"
      ></path>
    </svg>
  </button>

  <button
    class="inline-flex items-center gap-x-2 rounded-lg bg-green-900 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-green-800 focus:outline-4 lg:text-base dark:shadow-none dark:outline-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path fill="currentColor" d="M9 16.2L4.8 12l-1.4 1.4L9 19L21 7l-1.4-1.4z"
      ></path>
    </svg>
    <span>Confirm</span></button
  >
  <button
    class="inline-flex items-center gap-x-2 rounded-lg bg-red-800 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-red-700 focus:outline-4 lg:text-base dark:shadow-none dark:outline-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m3.59-13L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"
      ></path>
    </svg>
    <span>Cancel</span></button
  >
  <button
    class="inline-flex items-center gap-x-2 rounded-lg bg-yellow-400 px-4 py-3 text-sm font-semibold text-black shadow-lg outline-offset-4 outline-black hover:bg-yellow-300 focus:outline-4 lg:text-base dark:shadow-none dark:outline-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4zM18 14H6v-2h12zm0-3H6V9h12zm0-3H6V6h12z"
      ></path>
    </svg>
    <span>Suggest Changes</span></button
  >
</div>
