<div class="flex flex-wrap justify-center gap-6 p-6 sm:gap-12">
  <button
    type="button"
    class="inline-flex rounded-lg bg-indigo-800 px-4 py-3 text-sm font-semibold text-gray-50 shadow-lg shadow-indigo-300/40 outline-offset-4 outline-black hover:bg-indigo-700 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
    >Default</button
  >

  <button
    type="button"
    class="inline-flex rounded-lg bg-zinc-900 px-4 py-3 text-sm font-semibold text-gray-50 shadow-lg outline-offset-4 outline-black hover:bg-zinc-700 focus:outline-4 lg:py-2.5 lg:text-base dark:bg-zinc-100 dark:text-zinc-950 dark:shadow-none dark:outline-white dark:hover:bg-zinc-300"
    >High Contrast</button
  >
  <button
    type="button"
    class="inline-flex rounded-lg bg-gray-700 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-gray-600 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
    >Neutral
  </button>

  <button
    class="inline-flex rounded-lg bg-green-900 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-green-800 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
    >Semantic Green</button
  >
  <button
    class="inline-flex rounded-lg bg-red-800 px-4 py-3 text-sm font-semibold text-white shadow-lg outline-offset-4 outline-black hover:bg-red-700 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
    >Semantic Red</button
  >
  <button
    class="inline-flex rounded-lg bg-yellow-400 px-4 py-3 text-sm font-semibold text-black shadow-lg outline-offset-4 outline-black hover:bg-yellow-300 focus:outline-4 lg:py-2.5 lg:text-base dark:shadow-none dark:outline-white"
    >Semantic Yellow</button
  >
  <button
    type="button"
    class="inline-flex rounded-lg border border-gray-400 bg-gray-50 px-4 py-3 text-sm font-semibold text-gray-950 shadow-lg outline-offset-4 outline-black hover:border-gray-500 hover:bg-gray-200 focus:outline-4 lg:py-2.5 lg:text-base dark:border-zinc-700 dark:bg-zinc-950 dark:text-gray-50 dark:shadow-none dark:outline-white dark:hover:border-zinc-500 dark:hover:bg-zinc-900"
    >Border
  </button>
  <button
    type="button"
    class="inline-flex rounded-lg border-indigo-600 px-4 py-3 text-sm font-semibold text-indigo-800 outline-offset-4 outline-black hover:border hover:bg-gray-200 focus:outline-4 lg:py-2.5 lg:text-base dark:border-indigo-400 dark:bg-zinc-950 dark:text-indigo-400 dark:outline-white dark:hover:bg-zinc-900"
    >Ghost
  </button>
</div>
