---
const { props } = Astro.props
---

<div class="flex flex-col gap-4 p-6 overflow-auto">
    <div class="flex flex-row gap-4">
        <button
            type="button"
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl disabled:opacity-60 bg-indigo-800 text-gray-50 hover:bg-indigo-700 disabled:pointer-events-none"
            >Default</button
        >
        <button
            type="button"
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl dark:bg-zinc-200 dark:text-zinc-950 bg-zinc-900 hover:bg-zinc-800 dark:hover:bg-zinc-50 text-gray-50"
            >Contrast</button
        >
        <button
            type="button"
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl bg-gray-700 text-white hover:bg-gray-600"
            >Gray
        </button>
        <button
            type="button"
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl border border-gray-400 dark:border-zinc-700 text-gray-950 bg-gray-100 dark:bg-zinc-950 dark:hover:bg-zinc-900 dark:hover:border-zinc-500 dark:text-gray-50 hover:bg-white hover:border-gray-500"
            >Outline </button
        >
        <button
            type="button"
            disabled
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl disabled:opacity-60 bg-indigo-800 text-gray-50 hover:bg-indigo-700 disabled:hover:bg-indigo-800 disabled:cursor-not-allowed"
            >Disabled </button
        >
    </div>
    <div class="flex flex-row gap-4">
        <button
            type="button"
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl disabled:opacity-60 bg-blue-800 text-gray-50 hover:bg-blue-700 disabled:pointer-events-none"
            >Variant</button
        >

        <button
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl bg-green-900 hover:bg-green-800 text-white"
            >Semantic Green</button
        >
        <button
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl bg-red-800 hover:bg-red-700 text-white"
            >Semantic Red</button
        >
        <button
            class="px-4 py-2 lg:py-3 rounded-lg font-semibold text-md lg:text-xl bg-yellow-400 hover:bg-yellow-300 text-black"
            >Semantic Yellow</button
        >
    </div>
</div>

