<div class="flex flex-col gap-4 p-6 overflow-auto">
    <div class="flex flex-row gap-4">
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-indigo-600 to-blue-900 text-gray-50 hover:bg-gradient-to-l disabled:pointer-events-none"
            >Button</button
        >
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-red-500 to-orange-500 text-gray-50 hover:bg-gradient-to-l disabled:pointer-events-none"
            >Button</button
        >
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-teal-400 to-yellow-200 text-zinc-950 hover:bg-gradient-to-b disabled:pointer-events-none"
            >Button</button
        >
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-cyan-800 via-sky-800 to-blue-900 text-gray-50 hover:bg-gradient-to-tr disabled:pointer-events-none"
            >Button</button
        >
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-gray-50 hover:bg-gradient-to-t disabled:pointer-events-none"
            >Button</button
        >
        <button
            type="button"
            class="px-4  py-2  rounded-lg font-semibold text-md lg:text-lg disabled:opacity-60 bg-gradient-to-r from-slate-500 to-slate-800 text-gray-50 hover:bg-gradient-to-l disabled:pointer-events-none"
            >Metallic</button
        >
    </div>
    <div class="flex flex-row gap-4 my-4">
        <button
        type="button"
        class="px-4  py-2  rounded-lg border border-gray-400 dark:border-indigo-800  hover:border-indigo-700 dark:hover:bg-indigo-950/40 font-semibold text-md lg:text-lg disabled:opacity-60  text-zinc-950 dark:text-zinc-50  disabled:pointer-events-none shadow-[0_6px_30px_rgb(0,0,0,0.12)] dark:shadow-[0px_0px_10px_rgba(99,102,241,_0.4)]"
        >
        Shadow Effect
        </button
    >
    <button
    type="button"
    class="px-4  py-2  rounded-lg border border-indigo-600 dark:border-indigo-800  hover:border-indigo-700 dark:hover:bg-indigo-950/40 font-semibold text-md lg:text-lg disabled:opacity-60  text-zinc-950 dark:text-zinc-50  disabled:pointer-events-none shadow-[1px_1px_rgba(67,56,202,_0.3),_4px_4px_rgba(79,70,229,_0.3),_6px_6px_rgba(99,102,241,_0.3)]"
    >
    Shadow Effect 2
    </button
>
    </div>
</div>

