<p
  class="mx-4 md:mx-6 my-8 text-lg max-w-2xl text-md md:text-lg leading-normal text-zinc-900 dark:text-gray-100 text-start">
  While, there are no hard and fast rules for paragraphs, some commonly used
  guidelines are based on width and spacing.<strong> The sweet spot</strong> for paragraph width
  is between 600px and 750px for large screens, which is commonly seen in most
  popular blogs, articles, content pieces, etc. For smaller screens like mobile,
  width does not matter as much, but margins and padding should be used to
  <a href="#" class="text-blue-700 underline underline-offset-4 dark:text-blue-400 hover:text-blue-600 dark:hover:text-blue-500">create white space and make the text more readable.</a>
</p>
