<div
  id="accordion-container-alt"
  class="mb-12 max-w-3xl divide-y divide-gray-400 rounded-lg dark:divide-zinc-800"
>
  <div class="group text-zinc-900 dark:text-zinc-300">
    <button
      data-accordion="button"
      type="button"
      class="group/button peer flex w-full cursor-pointer items-center justify-between rounded-lg px-4 py-4 text-start outline-gray-600 focus:outline-2 aria-expanded:bg-gray-200 motion-safe:transition-colors motion-safe:duration-300 motion-safe:ease-in dark:outline-zinc-500 dark:aria-expanded:bg-zinc-900"
      aria-expanded="false"
      aria-controls="alt-panel-1"
      id="alt-header-1"
    >
      <h3 class="text-base font-medium md:text-lg">Alt Header 1</h3>
      <svg
        class="hidden h-5 w-5 shrink-0 group-aria-expanded/button:block"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path fill="currentColor" d="M19 12.998H5v-2h14z"></path>
      </svg>
      <svg
        class="h-5 w-5 shrink-0 group-aria-expanded/button:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"
        ></path>
      </svg>
    </button>

    <section
      data-accordion="panel"
      id="alt-panel-1"
      aria-hidden="true"
      class="max-h-0 overflow-hidden opacity-30 peer-aria-expanded:max-h-screen peer-aria-expanded:opacity-100 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
      aria-labelledby="alt-header-1"
      role="region"
    >
      <div class="px-6 py-4 text-start text-base md:py-5">
        Panel 1 content goes here.
      </div>
    </section>
  </div>
  <div class="group text-zinc-900 dark:text-zinc-300">
    <button
      type="button"
      data-accordion="button"
      class="group/button peer flex w-full cursor-pointer items-center justify-between rounded-lg px-4 py-4 text-start outline-gray-600 focus:outline-2 aria-expanded:bg-gray-200 motion-safe:transition-colors motion-safe:duration-300 motion-safe:ease-in dark:outline-zinc-500 dark:aria-expanded:bg-zinc-900"
      aria-expanded="false"
      aria-controls="alt-panel-2"
      id="alt-header-2"
    >
      <h3 class="text-base font-medium md:text-lg">Alt Header 2</h3>
      <svg
        class="hidden h-5 w-5 shrink-0 group-aria-expanded/button:block"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path fill="currentColor" d="M19 12.998H5v-2h14z"></path>
      </svg>
      <svg
        class="h-5 w-5 shrink-0 group-aria-expanded/button:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"
        ></path>
      </svg>
    </button>

    <section
      data-accordion="panel"
      aria-hidden="true"
      id="alt-panel-2"
      class="max-h-0 overflow-hidden opacity-30 delay-75 peer-aria-expanded:max-h-screen peer-aria-expanded:opacity-100 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
      aria-labelledby="alt-header-2"
      role="region"
    >
      <div class="px-6 py-4 text-start text-base md:py-5">
        Users can click on a panel's header to expand or collapse its content,
        allowing for a more organized and space-efficient presentation of
        information, especially when dealing with a lot of content on a webpage.
        Accordions are commonly used in FAQs, product descriptions, and other
        situations where content needs to be organized into easily navigable
        sections.
      </div>
    </section>
  </div>

  <!-- Add more accordion items as needed -->
</div>
<script>
  /**
   * Sets up the accordion functionality for an accordion container with the ID "accordion-container-alt".
   *
   * This function retrieves the accordion container element, the accordion buttons, and the accordion panels.
   * It then adds a click event listener to each accordion button, which toggles the visibility of the corresponding accordion panel.
   * All panels are initially hidden and aria-hidden is set to true.
   */
  function setAccordion() {
    /**
     * Retrieves the accordion container element by its ID.
     *
     */
    const accordion = document.getElementById("accordion-container-alt");

    const buttons = accordion?.querySelectorAll('[data-accordion="button"]');
    const panels = accordion?.querySelectorAll('[data-accordion="panel"]');
    var selectedPanel;
    /**
     * Adds click event listeners to accordion buttons and toggles the visibility of the corresponding accordion panels.
     * When a button is clicked, it sets the `aria-expanded` attribute to `true` and hides all other panels.
     * The selected panel is then shown by setting its `aria-hidden` attribute to `false`.
     */
    buttons?.forEach((button) => {
      button.addEventListener("click", () => {
        panels?.forEach((panel) => {
          if (panel.id === button.getAttribute("aria-controls")) {
            selectedPanel = panel;
          }
          panel.setAttribute("aria-hidden", "true");
        });
        if (button.getAttribute("aria-expanded") === "true") {
          button.setAttribute("aria-expanded", "false");

          return;
        } else {
          buttons.forEach((button) => {
            button.setAttribute("aria-expanded", "false");
          });
          selectedPanel.setAttribute("aria-hidden", "false");
          button.setAttribute("aria-expanded", "true");
        }
      });
    });
  }

  setAccordion();
</script>
