<div
  class="border mb-12 border-gray-300 divide-y divide-gray-300 dark:border-zinc-800 dark:divide-zinc-800 rounded-lg max-w-3xl shadow-md dark:shadow-black overflow-hidden">
  <details
    class="group"
    name="accordion-1">
    <summary
      class="flex items-center justify-between px-4 py-4 cursor-pointer text-zinc-900 dark:text-zinc-300 bg-gray-100 dark:bg-zinc-950 dark:group-open:bg-zinc-900 group-open:bg-gray-200">
      <span class="text-xl font-semibold"> Accordion Header </span>
      <svg
        class="w-5 h-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </summary>

    <div class="px-6 text-start text-lg py-5 bg-gray-100 dark:bg-zinc-950">
      Users can click on a panel's header to expand or collapse its content,
      allowing for a more organized and space-efficient presentation of
      information, especially when dealing with a lot of content on a webpage.
      Accordions are commonly used in FAQs, product descriptions, and other
      situations where content needs to be organized into easily navigable
      sections.
    </div>
  </details>
  <details
    class="group"
    name="accordion-1">
    <summary
      class="flex items-center justify-between px-4 py-4 cursor-pointer text-zinc-900 dark:text-zinc-300 bg-gray-100 dark:bg-zinc-950 dark:group-open:bg-zinc-900 group-open:bg-gray-200"
      tabindex="0">
      <span class="text-xl font-semibold"> Accordion Header </span>
      <svg
        class="w-5 h-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </summary>

    <div class="px-6 text-start text-lg py-5 bg-gray-100 dark:bg-zinc-950">
      Users can click on a panel's header to expand or collapse its content,
      allowing for a more organized and space-efficient presentation of
      information, especially when dealing with a lot of content on a webpage.
      Accordions are commonly used in FAQs, product descriptions, and other
      situations where content needs to be organized into easily navigable
      sections.
    </div>
  </details>
</div>
