<div class="flex flex-wrap justify-center gap-4">
  <span
    class="inline-flex items-center rounded-full border border-gray-500 px-3 py-1 text-sm font-medium text-gray-800 dark:border-gray-400 dark:text-gray-50"
    >Badge</span
  >
  <span
    class="inline-flex items-center rounded-full border border-red-600 px-3 py-1 text-sm font-medium text-red-800 dark:border-red-500 dark:text-red-50"
    >Unavailable</span
  >
  <span
    class="inline-flex items-center rounded-full border border-yellow-600 px-3 py-1 text-sm font-medium text-yellow-800 dark:border-yellow-500 dark:text-yellow-50"
    >Warning</span
  >
  <span
    class="inline-flex items-center rounded-full border border-green-600 px-3 py-1 text-sm font-medium text-green-800 dark:border-green-500 dark:text-green-50"
    >Available</span
  >
  <span
    class="inline-flex items-center rounded-full border border-blue-600 px-3 py-1 text-sm font-medium text-blue-800 dark:border-blue-500 dark:text-blue-50"
    >Blue</span
  >
  <span
    class="inline-flex items-center rounded-full border border-indigo-600 px-3 py-1 text-sm font-medium text-indigo-800 dark:border-indigo-500 dark:text-indigo-50"
    >Indigo</span
  >
  <span
    class="inline-flex items-center rounded-full border border-purple-600 px-3 py-1 text-sm font-medium text-purple-800 dark:border-purple-500 dark:text-purple-50"
    >Purple</span
  >
  <span
    class="inline-flex items-center rounded-full border border-pink-600 px-3 py-1 text-sm font-medium text-pink-800 dark:border-pink-500 dark:text-pink-50"
    >Pink</span
  >
</div>
