<div class="flex flex-wrap justify-center gap-4">
  <span
    class="inline-flex items-center rounded-full bg-gray-300 px-3 py-1 text-sm font-medium text-black dark:bg-gray-800 dark:text-white"
    ><svg
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      width="1rem"
      height="1rem"
      viewBox="0 0 24 24"
      class="mr-1"
      aria-labelledby="location-id"
    >
      <title id="location-id">Location</title>
      <path
        fill="currentColor"
        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7m0 9.5a2.5 2.5 0 0 1 0-5a2.5 2.5 0 0 1 0 5"
      ></path>
    </svg>Rome</span
  >
  <span
    class="inline-flex items-center rounded-full bg-red-100 px-3 py-1 text-sm font-medium text-red-800 dark:bg-red-950 dark:text-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      width="1rem"
      height="1rem"
      viewBox="0 0 24 24"
      class="mr-1"
      aria-labelledby="down-id"
    >
      <title id="down-id">Down by</title>
      <path
        fill="currentColor"
        d="m16 18l2.29-2.29l-4.88-4.88l-4 4L2 7.41L3.41 6l6 6l4-4l6.3 6.29L22 12v6z"
      ></path>
    </svg>32%</span
  >
  <span
    class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-1 text-sm font-medium text-yellow-800 dark:bg-yellow-900 dark:text-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      width="1rem"
      height="1rem"
      viewBox="0 0 24 24"
      class="mr-1"
      aria-labelledby="warning-id"
    >
      <title id="warning-id">Warning</title>
      <path fill="currentColor" d="M1 21h22L12 2zm12-3h-2v-2h2zm0-4h-2v-4h2z"
      ></path>
    </svg>Unstable Feature</span
  >
  <span
    class="inline-flex items-center rounded-full bg-green-100 px-3 py-1 text-sm font-medium text-green-800 dark:bg-green-950 dark:text-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      width="1rem"
      height="1rem"
      viewBox="0 0 24 24"
      class="mr-1"
      aria-labelledby="up-id"
    >
      <title id="up-id">Up by</title>
      <path
        fill="currentColor"
        d="m16 6l2.29 2.29l-4.88 4.88l-4-4L2 16.59L3.41 18l6-6l4 4l6.3-6.29L22 12V6z"
      ></path>
    </svg>64%</span
  >
  <span
    class="inline-flex items-center rounded-full bg-blue-100 px-3 py-1 text-sm font-medium text-blue-800 dark:bg-blue-950 dark:text-white"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      width="1rem"
      height="1rem"
      viewBox="0 0 24 24"
      class="mr-1"
      aria-labelledby="info-id"
    >
      <title id="info-id">Info</title>
      <path
        fill="currentColor"
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"
      ></path>
    </svg>New Feature</span
  >
</div>
