<div class="flex flex-wrap justify-center gap-4">
  <span
    class="inline-flex items-center rounded-full bg-gray-300 px-3 py-1 text-sm font-medium text-black dark:bg-gray-800 dark:text-gray-50"
    >Badge</span
  >
  <span
    class="inline-flex items-center rounded-full bg-red-100 px-3 py-1 text-sm font-medium text-red-800 dark:bg-red-950 dark:text-red-50"
    >Unavailable</span
  >
  <span
    class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-1 text-sm font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-50"
    >Warning</span
  >
  <span
    class="inline-flex items-center rounded-full bg-green-100 px-3 py-1 text-sm font-medium text-green-800 dark:bg-green-950 dark:text-green-50"
    >Available</span
  >
  <span
    class="inline-flex items-center rounded-full bg-blue-100 px-3 py-1 text-sm font-medium text-blue-800 dark:bg-blue-950 dark:text-blue-50"
    >Blue</span
  >
  <span
    class="inline-flex items-center rounded-full bg-indigo-100 px-3 py-1 text-sm font-medium text-indigo-800 dark:bg-indigo-950 dark:text-indigo-50"
    >Indigo</span
  >
  <span
    class="inline-flex items-center rounded-full bg-purple-100 px-3 py-1 text-sm font-medium text-purple-800 dark:bg-purple-950 dark:text-purple-50"
    >Purple</span
  >
  <span
    class="inline-flex items-center rounded-full bg-pink-100 px-3 py-1 text-sm font-medium text-pink-800 dark:bg-pink-950 dark:text-pink-50"
    >Pink</span
  >
</div>
