<div class="flex flex-col p-6 space-y-12">
  <div
    class="w-full bg-gray-300 dark:bg-zinc-800 rounded-full h-3"
    role="progressbar"
    tabindex="0"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
    id="alt-progress-bar-1"
    aria-labelledby="alt-progress-label-1">
    <span
      id="alt-progress-label-1"
      class="sr-only"
      >25% Complete</span
    >
    <div
      aria-hidden="true"
      class="dark:bg-gradient-to-l bg-gradient-to-r from-indigo-500 via-indigo-700 to-indigo-900 h-3 rounded-full w-[25%]">
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      class="w-full bg-gray-300 dark:bg-zinc-800 rounded-full h-3"
      role="progressbar"
      tabindex="0"
      id="alt-progress-bar-2"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-labelledby="alt-progress-label-2"
      id="alt-progress-bar-2">
      <div
        aria-hidden="true"
        class="dark:bg-gradient-to-l bg-gradient-to-r from-indigo-500 via-indigo-700 to-indigo-900 h-3 rounded-full w-[25%]">
      </div>
    </div>
    <div
      id="alt-progress-label-2"
      class="block text-sm text-start font-medium text-gray-700 dark:text-zinc-400">
      25% Complete
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      class="w-full bg-gray-300 dark:bg-zinc-800 rounded-full h-5"
      role="progressbar"
      tabindex="0"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
      id="alt-progress-bar-3"
      aria-labelledby="alt-progress-label-3">
      <div
        id="alt-progress-label-3"
        class="dark:bg-gradient-to-l bg-gradient-to-r from-indigo-500 via-indigo-700 to-indigo-900 h-5 text-center text-white text-sm rounded-full items-center justify-center w-[50%]">
        <span class="sr-only">Current Progress</span>
        50%
      </div>
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      id="alt-progress-label-4"
      class="inline-flex w-full justify-between items-end px-1 text-gray-700 dark:text-zinc-400">
      <span class="text-sm font-medium">Current Progress</span>
      <span class="text-sm font-medium">50%</span>
    </div>
    <div
      class="w-full bg-gray-300 dark:bg-zinc-800 rounded-full h-3"
      role="progressbar"
      aria-labelledby="alt-progress-label-4"
      tabindex="0"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
      id="alt-progress-bar-4">
      <div
        aria-hidden="true"
        class="dark:bg-gradient-to-l bg-gradient-to-r from-indigo-500 via-indigo-700 to-indigo-900 h-3 text-center text-white text-sm rounded-full items-center justify-center w-[50%]">
      </div>
    </div>
  </div>
</div>
