<div class="flex flex-col space-y-12 p-6">
  <div
    class="h-3 w-full rounded-full bg-gray-300 dark:bg-zinc-800"
    role="progressbar"
    aria-valuenow="25"
    aria-valuemin="0"
    tabindex="0"
    aria-valuemax="100"
    id="progress-bar-1"
    aria-labelledby="progress-label-1"
  >
    <span id="progress-label-1" class="sr-only">25% Complete</span>
    <div
      aria-hidden="true"
      class="h-3 w-[25%] rounded-full bg-indigo-600 dark:bg-indigo-500"
    >
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      class="h-3 w-full rounded-full bg-gray-300 dark:bg-zinc-800"
      role="progressbar"
      tabindex="0"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-labelledby="progress-label-2"
      id="progress-bar-2"
    >
      <div
        aria-hidden="true"
        class="h-3 w-[25%] rounded-full bg-indigo-600 dark:bg-indigo-500"
      >
      </div>
    </div>
    <div
      id="progress-label-2"
      class="block text-start text-sm font-medium text-gray-700 dark:text-zinc-400"
    >
      25% Complete
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      class="h-5 w-full rounded-full bg-gray-300 dark:bg-zinc-800"
      role="progressbar"
      tabindex="0"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-labelledby="progress-label-3"
      id="progress-bar-3"
    >
      <div
        id="progress-label-3"
        class="h-5 w-[50%] items-center justify-center rounded-full bg-indigo-600 text-center text-sm text-white dark:bg-indigo-500"
      >
        <span class="sr-only">Current Progress</span>
        50%
      </div>
    </div>
  </div>
  <div class="flex flex-col items-end justify-center space-y-1">
    <div
      id="progress-label-4"
      class="inline-flex w-full items-end justify-between px-1 text-gray-700 dark:text-zinc-400"
    >
      <span class="text-sm font-medium">Current Progress</span>
      <span class="text-sm font-medium">50%</span>
    </div>
    <div
      class="h-3 w-full rounded-full bg-gray-300 dark:bg-zinc-800"
      role="progressbar"
      tabindex="0"
      aria-labelledby="progress-label-4"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
      id="progress-bar-4"
    >
      <div
        aria-hidden="true"
        class="h-3 w-[50%] items-center justify-center rounded-full bg-indigo-600 text-center text-sm text-white dark:bg-indigo-500"
      >
      </div>
    </div>
  </div>
</div>
