<!--Background Gradient To Show Glass Effect -->
<div
  class="grid justify-center bg-gradient-to-br from-indigo-100 via-green-100 to-red-100 p-6 dark:bg-gradient-to-tl dark:from-indigo-950 dark:via-slate-900 dark:to-zinc-900"
>
  <!-- Card Component Below -->
  <div
    class="flex max-w-sm flex-col overflow-hidden rounded-lg border border-gray-400 text-start shadow-lg shadow-gray-300/80 backdrop-blur-3xl md:max-w-none md:flex-row dark:border-zinc-600 dark:shadow-zinc-950/50"
  >
    <div
      class="flex overflow-hidden border-b border-gray-300 md:flex-1 lg:border-r dark:border-0"
    >
      <img
        src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
        width="600"
        alt="A desk with PC peripherals and Stationery on it"
        class="object-cover"
      />
    </div>
    <div
      class="flex flex-col justify-between px-6 py-3 text-zinc-950 md:flex-1 dark:text-zinc-300"
    >
      <div class="flex flex-col md:gap-y-1">
        <h3
          class="mt-2 text-lg font-semibold text-indigo-800 lg:text-xl dark:text-zinc-100"
        >
          Boost your conversion rate
        </h3>
        <div
          class="mt-1 flex flex-row space-x-1 text-sm text-zinc-600 dark:text-zinc-400"
        >
          <a href="#" class="hover:underline"> by John Doe </a>
          <span aria-hidden="true">&middot;</span>
          <time datetime="2024-03-16">Mar 16, 2024</time>
          <span aria-hidden="true">&middot;</span>
          <span>6 min read</span>
        </div>

        <p class="mt-4 text-sm text-zinc-800 lg:text-base dark:text-zinc-300">
          The top 10 techniques for boosting your conversion rate. Use these
          techniques to increase your conversion rate and grow your business.
        </p>
        <a
          href="#"
          class="mb-2 mt-4 inline-flex max-w-max items-center gap-x-2 rounded-lg bg-indigo-800 px-4 py-2.5 text-sm font-semibold text-gray-50 outline-offset-4 outline-black hover:bg-indigo-700 focus:outline-4 lg:text-base dark:outline-white"
        >
          <span>Read More</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </a>
      </div>
    </div>
    <!-- Card Component Ends Here -->
  </div>
</div>
