<!--Background Gradient To Show Glass Effect -->
<div
  class="grid p-6 justify-center bg-gradient-to-br dark:bg-gradient-to-tl from-indigo-100 via-green-100 to-red-100 dark:from-indigo-950 dark:via-slate-900 dark:to-zinc-900">
  <!-- Card Component Below -->
  <div
    class="flex flex-col md:flex-row max-w-sm md:max-w-none text-start backdrop-blur-3xl border border-gray-400 dark:border-zinc-600 rounded-lg shadow-lg shadow-gray-300/80 overflow-hidden  dark:shadow-zinc-950/50">
    <div
      class="flex md:flex-1 overflow-hidden border-b lg:border-r border-gray-300 dark:border-0">
      <img
        src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
        width="600"
        alt="A desk with PC peripherals and Stationery on it"
        class="object-cover"
      />
    </div>
    <div
      class="px-6 py-3 md:flex-1 flex flex-col justify-between text-zinc-950 dark:text-zinc-300">
      <div class="flex flex-col md:gap-y-1">
        <h3
        class="text-lg lg:text-xl font-semibold text-indigo-800 dark:text-zinc-100 mt-2">
        Boost your conversion rate
      </h3>
      <div
        class="flex flex-row mt-1 space-x-1 text-sm text-zinc-600 dark:text-zinc-400">
        <a
          href="#"
          class="hover:underline">
          by John Doe
        </a>
        <span aria-hidden="true">&middot;</span>
        <time datetime="2024-03-16">Mar 16, 2024</time>
        <span aria-hidden="true">&middot;</span>
        <span>6 min read</span>
      </div>

      <p class="mt-4 text-sm lg:text-base text-zinc-800 dark:text-zinc-300">
        The top 10 techniques for boosting your conversion rate. Use these
        techniques to increase your conversion rate and grow your business.
      </p>
      <a
        href="#"
        class="px-4 py-2.5 mt-4 mb-2 rounded-lg max-w-max font-semibold inline-flex gap-x-2 items-center text-sm lg:text-base bg-indigo-800 text-gray-50 hover:bg-indigo-700 focus:outline-4 outline-offset-4 outline-black dark:outline-white">
        <span>Read More</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            fill="currentColor"
            d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <!-- Card Component Ends Here -->
</div>
