<div
  class="flex flex-col text-start bg-gray-50 dark:bg-zinc-900 border border-gray-300 dark:border-zinc-800/50 rounded-lg shadow-xl overflow-hidden dark:shadow-black">
  <div class="flex-0 max-h-max">
    <img
      src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
      width="600"
      alt="A desk with PC peripherals and Stationery on it"
      class="bg-cover"
    />
  </div>
  <div
    class="px-6 py-4 flex flex-col justify-between text-zinc-950 dark:text-zinc-400 ">
    <div class="flex flex-col ">
      <h3
        class="text-xl lg:text-2xl font-semibold text-indigo-800 dark:text-zinc-100 mt-2">
        Boost your conversion rate
      </h3>
      <div
        class="flex flex-row mt-1 space-x-1 text-sm text-zinc-600 dark:text-zinc-500">
        <a
          href="#"
          class="hover:underline">
          by John Doe
        </a>
        <span aria-hidden="true">&middot;</span>
        <time datetime="2024-03-16">Mar 16, 2024</time>
        <span aria-hidden="true">&middot;</span>
        <span>6 min read</span>
      </div>
   
      <p
        class="mt-4 text-base text-zinc-800 dark:text-zinc-300">
        The top 10 techniques for boosting your conversion
        rate. Use these techniques to increase your
        conversion rate and grow your business.
      </p>
      <a
        href="#"
        class="px-4 py-2 max-w-max mt-6 mb-2 inline-flex items-center gap-x-2 text-base lg:text-lg rounded-lg bg-indigo-800 text-white hover:bg-indigo-700">
        <span>Read Now</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            fill="currentColor"
            d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
