<div class="text-zinc-900 dark:text-gray-100 text-base md:text-lg">
  <p class="mx-4 mb-6 max-w-2xl text-md leading-normal text-start w-full">
    List
  </p>
  <ul class="mx-4 mb-6 list-outside list-none space-y-3 max-w-2xl">
    <li class="flex flex-row items-start leading-snug">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        role="img"
        height="24"
        viewBox="0 0 24 24"
        class="flex-shrink-0 text-green-700 dark:text-green-400 mr-3"
        aria-labelledby="title-list-item-1">
        <title id="title-list-item-1">Tick</title>
        <path
          fill="currentColor"
          d="M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z"
        ></path>
      </svg>
      <span
        >Item 1 is really long and should be wrapped. You can see how the
        it works with this particular item.</span
      >
    </li>
    <li class="flex flex-row items-start leading-snug">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        role="img"
        viewBox="0 0 24 24"
        class="flex-shrink-0 text-red-700 dark:text-red-500 mr-3"
        aria-labelledby="title-list-item-2">
        <title id="title-list-item-2">Cross</title>
        <path
          fill="currentColor"
          d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
        ></path>
      </svg>
      <span>Item 2</span>
    </li><li class="flex flex-row items-start leading-snug">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        role="img"
        class="flex-shrink-0 text-green-700 dark:text-green-400 mr-3"
        aria-labelledby="title-list-item-3">
        <title id="title-list-item-3">Tick</title>
        <path
          fill="currentColor"
          d="M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z"
        ></path>
      </svg>
      <span>Item 3</span>
    </li>
  </ul>
</div>
