<div class="text-zinc-900 dark:text-gray-100 text-base md:text-lg">
    <p class="mx-4  mb-6  max-w-2xl text-md  leading-normal  text-start w-full">
        An example of a bullet list is given below. You can see how the list items work with these particular items.
    </p>
    <ol class="mx-10 list-decimal list-outside max-w-2xl space-y-2 mb-6 marker:text-zinc-700 dark:marker:text-gray-100">
        <li><p class="ml-2">Item 1 is really long and should be wrapped. You can see how the wrapping works with this particular item.</p></li>
        <li><p class="ml-2">Item 2</p></li>
        <li><p class="ml-2">Item 3</p></li> 
        <li><p class="ml-2">Item 4</p></li>
        <li><p class="ml-2">Item 5</p></li>
        <li><p class="ml-2">Item 6</p></li>
    </ol>
</div>