<div class="text-base text-zinc-900 md:text-lg dark:text-gray-100">
  <p class="text-md mx-4 mb-6 w-full max-w-2xl text-start leading-normal">
    An example of a bullet list is given below. You can see how the list items
    work with these particular items.
  </p>
  <ol
    class="mx-10 mb-6 max-w-2xl list-outside list-decimal space-y-2 marker:text-zinc-700 dark:marker:text-gray-100"
  >
    <li>
      <p class="ml-2">
        Item 1 is really long and should be wrapped. You can see how the
        wrapping works with this particular item.
      </p>
    </li>
    <li><p class="ml-2">Item 2</p></li>
    <li><p class="ml-2">Item 3</p></li>
    <li><p class="ml-2">Item 4</p></li>
    <li><p class="ml-2">Item 5</p></li>
    <li><p class="ml-2">Item 6</p></li>
  </ol>
</div>
