<div class="text-zinc-900 dark:text-gray-100 text-base md:text-lg">
    <p class="mx-4  mb-6  max-w-2xl text-md  leading-normal  text-start w-full">
        An example of a bullet list is given below. You can see how the list items work with these particular items.
    </p>
    <ul class="mx-10 list-disc list-outside   marker:text-zinc-500 max-w-2xl space-y-2 mb-6">
        <li>Item 1 is really long and should be wrapped. You can see how the wrapping works with this particular item.</li>
        <li>Item 2</li>
        <li>Item 3</li> 
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
    </ul>
</div>