---
interface Props {
  description: string;
  listItems: string[];
}

const { description, listItems } = Astro.props as Props;

/**  Usage in an Astro component:
 * 
    ---
    import Ulist from './Ulist.astro';
    const list = ['Item 1', 'Item 2', 'Item 3'];
    const description = 'Your description here';
    ---

     <Ulist description={description} listItems={list} />

**/
---

<div class="text-base text-zinc-900 md:text-lg dark:text-gray-100">
  <p class="text-md mx-4 mb-6 w-full max-w-2xl text-start leading-normal">
    {description}
  </p>
  <ul
    class="mx-10 mb-6 max-w-2xl list-outside list-disc space-y-2 marker:text-zinc-500"
  >
    {listItems.map((item) => <li>{item}</li>)}
  </ul>
</div>
