<div class="text-base text-zinc-900 md:text-lg dark:text-gray-100">
  <p class="text-md mx-4 mb-6 w-full max-w-2xl text-start leading-normal">
    An example of a bullet list is given below. You can see how the list items
    work with these particular items.
  </p>
  <ul
    class="mx-10 mb-6 max-w-2xl list-outside list-disc space-y-2 marker:text-zinc-500"
  >
    <li>
      Item 1 is really long and should be wrapped. You can see how the wrapping
      works with this particular item.
    </li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 5</li>
    <li>Item 6</li>
  </ul>
</div>
