---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div
    class="flex flex-col items-center justify-center h-[92dvh] ">
    <h1 class="text-9xl font-bold text-indigo-600">404</h1>
    <p class="text-2xl text-gray-600 dark:text-gray-400 mt-4">Oops! Page not found.</p>
    <p class="text-gray-500 dark:text-gray-300 mt-2">
      The page you are looking for does not exist.
    </p>
    <a
      href="/"
      class="mt-8 px-6 py-3 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition duration-300">
      Go back home
    </a>
  </div>
</Layout title="404">
