---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/accordions/AAccordionAlt.html";
import Accordion from "../components/accordions/AccComponent.astro";
const data=[
    {title:"Test Page",
    content:"This is a test page",
    name:"test"},
    {title:"Test Page 2",
    content:"This is a test page",
    name:"test"},
]
---


  <body class="min-h-[92dvh] bg-gray-100 dark:bg-zinc-950">
    <div class="  self-center sm:mx-20">
      <div
        class=" items-center self-center  mt-24 mb-20 ">
        <Navbar />
        <Accordion data={data} />
      </div>
    </div>
  </body>

