<section class="motion-safe:animate-pulse flex flex-col" aria-live="polite" aria-busy="true">
  <!-- Skeleton -->
  <div class="bg-zinc-200 dark:bg-zinc-900 rounded-lg w-full h-64"></div>
  <div class="mt-4 space-y-4">
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-3/4 h-6"></div>
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-3/4 h-6"></div>
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-1/2 h-6 "></div>
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-3/4 h-6"></div>
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-3/4 h-6"></div>
    <div class="bg-zinc-200 dark:bg-zinc-900 rounded-full w-1/2 h-6"></div>
  
  </div>
  <!-- Skeleton Ends. When content is loaded we set aria-busy="false" and change the content inside the section and remove the animate-pulse class -->
</section>
