<section
  class="flex flex-col motion-safe:animate-pulse"
  aria-live="polite"
  aria-busy="true"
>
  <!-- Skeleton -->
  <div class="h-64 w-full rounded-lg bg-zinc-200 dark:bg-zinc-900"></div>
  <div class="mt-4 space-y-4">
    <div class="h-5 w-3/4 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
    <div class="h-5 w-3/4 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
    <div class="h-5 w-1/2 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
    <div class="h-5 w-3/4 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
    <div class="h-5 w-3/4 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
    <div class="h-5 w-1/2 rounded-full bg-zinc-200 dark:bg-zinc-900"></div>
  </div>
  <!-- Skeleton Ends. When content is loaded we set aria-busy="false", aria-live="off" and change the content inside the section and remove the animate-pulse class -->
</section>
