<div class="flex w-full flex-row justify-between gap-x-4">
  <div role="status" aria-label="Loading. Please wait...">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-indigo-600 motion-safe:animate-spin dark:text-indigo-500"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
  </div>
  <div role="status" aria-label="Loading. Please wait...">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-blue-600 motion-safe:animate-spin dark:text-blue-500"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
  </div>
  <div role="status" aria-label="Loading. Please wait...">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-cyan-600 motion-safe:animate-spin dark:text-cyan-400"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
  </div>
  <div role="status" aria-label="Loading. Please wait...">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-green-600 motion-safe:animate-spin dark:text-green-400"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
  </div>
  <div role="status" aria-label="Loading. Please wait...">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-gray-600 motion-safe:animate-spin dark:text-gray-400"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
  </div>
  <div
    aria-live="assertive"
    aria-busy="true"
    class="flex flex-col items-center justify-center"
    aria-labelledby="loading-label"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2rem"
      height="2rem"
      viewBox="0 0 24 24"
      class="text-gray-600 motion-safe:animate-spin dark:text-gray-400"
      aria-hidden="true"
    >
      <path
        fill="currentColor"
        fill-opacity="0.9"
        d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.437A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75"
      ></path>
    </svg>
    <span id="loading-label">Loading</span>
  </div>
</div>
