<div class="flex w-full flex-col space-y-8 text-black dark:text-white">
  <ol
    class="flex w-full flex-row items-start justify-center space-x-2 text-black dark:text-white"
  >
    <li
      aria-current="step"
      class="flex h-full w-full flex-col items-start space-y-1 rounded-lg text-indigo-700 dark:text-indigo-400"
    >
      <span class="h-2 w-full bg-indigo-500 dark:bg-indigo-800"> </span>
      <span class="text-lg font-semibold">Payment Details</span>
    </li>

    <li
      class="flex h-full w-full flex-col items-start space-y-1 rounded-lg text-gray-700 dark:text-gray-400"
    >
      <span class="h-1 w-full bg-gray-500 dark:bg-gray-700"> </span>
      <span class="text-base">Address Details</span>
    </li>

    <li
      class="flex h-full w-full flex-col items-start space-y-1 rounded-lg text-gray-700 dark:text-gray-400"
    >
      <span class="h-1 w-full bg-gray-500 dark:bg-gray-700"> </span>
      <span class="text-base">Confirm Details</span>
    </li>
  </ol>
  <ol
    class="flex w-full flex-row items-start justify-center space-x-2 text-black dark:text-white"
  >
    <li
      class="flex h-full w-full flex-col items-start justify-center space-y-1 rounded-lg text-green-700 dark:text-green-400"
    >
      <span class="h-1 w-full bg-green-500 dark:bg-green-800"> </span>
      <p class="inline-flex text-base font-semibold">
        Payment Details<span class="sr-only">Completed</span>
      </p>
    </li>

    <li
      aria-current="step"
      class="flex h-full w-full flex-col items-start space-y-1 rounded-lg text-indigo-700 dark:text-indigo-400"
    >
      <span class="h-2 w-full bg-indigo-500 dark:bg-indigo-800"> </span>
      <span class="text-lg font-semibold">Address Details</span>
    </li>

    <li
      class="flex h-full w-full flex-col items-start space-y-1 rounded-lg text-gray-700 dark:text-gray-400"
    >
      <span class="h-1 w-full bg-gray-500 dark:bg-gray-700"> </span>
      <span class="text-base">Confirm Details</span>
    </li>
  </ol>
</div>
