<div class="flex flex-col w-full text-black dark:text-white">
  <ol
    class="flex w-full flex-row items-start justify-center space-x-1 text-black dark:text-white mt-2 mb-4">
    <li
      aria-current="step"
      class="flex-0 flex flex-col items-start space-y-1 rounded-lg w-full h-full text-indigo-700 dark:text-indigo-400">
      <span class="h-2 bg-indigo-500 dark:bg-indigo-900 w-full"> </span>
      <span class="text-lg font-semibold">Payment Details</span>
    </li>

    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
  </ol>
  <h3 class="text-xl">
    <span class="sr-only">Step</span>
    <span
      class="size-10 bg-indigo-500 dark:bg-indigo-900 inline-flex rounded-full text-center text-white justify-center items-center">
      1</span
    > of 6 <span class="ml-2 text-xl sm:text-2xl font-semibold"
      >Enter Payment Details</span
    >
  </h3>

  <ol
    class="flex w-full flex-row items-start justify-center space-x-1 text-black dark:text-white mt-16 mb-4">
    <li class="h-2 bg-green-500 dark:bg-green-800 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-green-500 dark:bg-green-800 w-[calc(1/4*100%)]"></li>
    <li
      aria-current="step"
      class="flex-0 flex flex-col items-start space-y-1 rounded-lg w-full h-full text-indigo-700 dark:text-indigo-400">
      <span class="h-2 bg-indigo-500 dark:bg-indigo-900 w-full"> </span>
      <span class="text-lg font-semibold">Address Details</span>
    </li>

    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
    <li class="h-2 bg-gray-500 dark:bg-gray-700 w-[calc(1/4*100%)]"></li>
  </ol>
  <h3 class="text-xl">
    <span class="sr-only">Step</span>
    <span
      class="size-10 bg-indigo-500 dark:bg-indigo-900 inline-flex rounded-full text-center text-white justify-center items-center">
      3</span
    > of 6 <span class="ml-2 text-xl sm:text-2xl font-semibold"
      >Enter Address Details</span
    >
  </h3>
</div>
