<div class="flex w-full flex-col text-black dark:text-white">
  <ol
    class="mb-4 mt-2 flex w-full flex-row items-start justify-center space-x-1 text-black dark:text-white"
  >
    <li
      aria-current="step"
      class="flex-0 flex h-full w-full flex-col items-start space-y-1 rounded-lg text-indigo-700 dark:text-indigo-400"
    >
      <span class="h-2 w-full bg-indigo-500 dark:bg-indigo-900"> </span>
      <span class="text-lg font-semibold">Payment Details</span>
    </li>

    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
  </ol>
  <h3 class="text-xl">
    <span class="sr-only">Step</span>
    <span
      class="inline-flex size-10 items-center justify-center rounded-full bg-indigo-500 text-center text-white dark:bg-indigo-900"
    >
      1</span
    > of 6 <span class="ml-2 text-xl font-semibold sm:text-2xl"
      >Enter Payment Details</span
    >
  </h3>

  <ol
    class="mb-4 mt-16 flex w-full flex-row items-start justify-center space-x-1 text-black dark:text-white"
  >
    <li class="h-2 w-[calc(1/4*100%)] bg-green-500 dark:bg-green-800"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-green-500 dark:bg-green-800"></li>
    <li
      aria-current="step"
      class="flex-0 flex h-full w-full flex-col items-start space-y-1 rounded-lg text-indigo-700 dark:text-indigo-400"
    >
      <span class="h-2 w-full bg-indigo-500 dark:bg-indigo-900"> </span>
      <span class="text-lg font-semibold">Address Details</span>
    </li>

    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
    <li class="h-2 w-[calc(1/4*100%)] bg-gray-500 dark:bg-gray-700"></li>
  </ol>
  <h3 class="text-xl">
    <span class="sr-only">Step</span>
    <span
      class="inline-flex size-10 items-center justify-center rounded-full bg-indigo-500 text-center text-white dark:bg-indigo-900"
    >
      3</span
    > of 6 <span class="ml-2 text-xl font-semibold sm:text-2xl"
      >Enter Address Details</span
    >
  </h3>
</div>
