<ol class="flex w-full flex-row sm:items-center justify-between">
  <li class="  space-y-2 w-full" aria-current="step">
    <div class="flex flex-row items-center ">
      <span
        class="size-10 bg-indigo-500 dark:bg-indigo-900 inline-flex rounded-full text-center text-white justify-center items-center">
        1</span
      >
      <span class="flex-1 mx-1 h-[2px] bg-gray-300 dark:bg-zinc-800 w-full"
      ></span>
    </div>
    <p 
      class="text-sm sm:text-base text-start text-indigo-700 dark:text-indigo-300 font-medium sm:text-nowrap">
      Payment Details
    </p>
  </li>
  <li class="  space-y-2 w-full">
    <div class="flex flex-row items-center ">
      <span
        class="size-10 bg-gray-300 dark:bg-zinc-800 inline-flex rounded-full text-center justify-center items-center">
        2</span
      >
      <span class="flex-1 mx-1 h-[2px] bg-gray-300 dark:bg-zinc-800 w-full"
      ></span>
    </div>
    <p class="text-sm sm:text-base text-start text-gray-700 dark:text-gray-400 font-medium sm:text-nowrap">
      Address Details
    </p>
  </li>
  <li class="  space-y-2 ">
    <div class="flex flex-row items-center">
      <span
        class="size-10 bg-gray-300 dark:bg-zinc-800 inline-flex rounded-full text-center justify-center items-center">
        3</span
      >
    </div>
    <p class="text-sm sm:text-base text-start text-gray-700 dark:text-gray-400 font-medium sm:text-nowrap">
      Confirm Details
    </p>
  </li>
</ol>
<ol class="flex w-full flex-row sm:items-center justify-center">
  <li class="space-y-2 w-full">
    <div class="flex flex-row items-center ">
      <span
        class="size-10 bg-green-800 inline-flex text-white rounded-full text-center justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1rem"
          height="1rem"
          viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            fill="currentColor"
            d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"
          ></path>
        </svg></span
      >
      <span class="flex-1 mx-1 h-[2px] bg-green-800 w-full"></span>
    </div>
    <p
      class="text-sm sm:text-base text-start text-green-800 dark:text-green-600 font-medium sm:text-nowrap">
      Payment Details <span class="sr-only">Completed</span>
    </p>
  </li>
  <li class="space-y-2 w-full" aria-current="step">
    <div class="flex flex-row items-center ">
      <span
        class="size-10 bg-indigo-500 dark:bg-indigo-900 inline-flex rounded-full text-center text-white justify-center items-center">
        2</span
      >
      <span class="flex-1 mx-1 h-[2px] bg-gray-300 dark:bg-zinc-800 w-full"
      ></span>
    </div>
    <p 
      class="text-sm sm:text-base text-start text-indigo-700 dark:text-indigo-300 font-medium sm:text-nowrap">
      Address Details
    </p>
  </li>
  <li class=" space-y-2 ">
    <div class="flex flex-row items-center">
      <span
        class="size-10 bg-gray-300 dark:bg-zinc-800 inline-flex rounded-full text-center justify-center items-center">
        3</span
      >
    </div>
    <p class="text-sm sm:text-base text-start text-gray-700 dark:text-gray-400 font-medium sm:text-nowrap">
      Confirm Details
    </p>
  </li>
</ol>
