<ol class="flex w-full flex-row justify-between sm:items-center">
  <li class="w-full space-y-2" aria-current="step">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-indigo-500 text-center text-white dark:bg-indigo-900"
      >
        1</span
      >
      <span class="mx-1 h-[2px] w-full flex-1 bg-gray-300 dark:bg-zinc-800"
      ></span>
    </div>
    <p
      class="text-start text-sm font-medium text-indigo-700 sm:text-nowrap sm:text-base dark:text-indigo-300"
    >
      Payment Details
    </p>
  </li>
  <li class="w-full space-y-2">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-gray-300 text-center dark:bg-zinc-800"
      >
        2</span
      >
      <span class="mx-1 h-[2px] w-full flex-1 bg-gray-300 dark:bg-zinc-800"
      ></span>
    </div>
    <p
      class="text-start text-sm font-medium text-gray-700 sm:text-nowrap sm:text-base dark:text-gray-400"
    >
      Address Details
    </p>
  </li>
  <li class="space-y-2">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-gray-300 text-center dark:bg-zinc-800"
      >
        3</span
      >
    </div>
    <p
      class="text-start text-sm font-medium text-gray-700 sm:text-nowrap sm:text-base dark:text-gray-400"
    >
      Confirm Details
    </p>
  </li>
</ol>
<ol class="flex w-full flex-row justify-center sm:items-center">
  <li class="w-full space-y-2">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-green-800 text-center text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1rem"
          height="1rem"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill="currentColor"
            d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"></path>
        </svg></span
      >
      <span class="mx-1 h-[2px] w-full flex-1 bg-green-800"></span>
    </div>
    <p
      class="text-start text-sm font-medium text-green-800 sm:text-nowrap sm:text-base dark:text-green-600"
    >
      Payment Details <span class="sr-only">Completed</span>
    </p>
  </li>
  <li class="w-full space-y-2" aria-current="step">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-indigo-500 text-center text-white dark:bg-indigo-900"
      >
        2</span
      >
      <span class="mx-1 h-[2px] w-full flex-1 bg-gray-300 dark:bg-zinc-800"
      ></span>
    </div>
    <p
      class="text-start text-sm font-medium text-indigo-700 sm:text-nowrap sm:text-base dark:text-indigo-300"
    >
      Address Details
    </p>
  </li>
  <li class="space-y-2">
    <div class="flex flex-row items-center">
      <span
        class="inline-flex size-10 items-center justify-center rounded-full bg-gray-300 text-center dark:bg-zinc-800"
      >
        3</span
      >
    </div>
    <p
      class="text-start text-sm font-medium text-gray-700 sm:text-nowrap sm:text-base dark:text-gray-400"
    >
      Confirm Details
    </p>
  </li>
</ol>
