<div
  class="flex w-full flex-wrap items-start justify-start justify-items-start px-5 py-2"
>
  <div class="flex w-full flex-wrap">
    <div class="w-full md:py-6 md:pr-10">
      <div class="relative flex items-center pb-8">
        <div
          class="absolute inset-0 flex h-full w-8 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="relative z-10 inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-green-800 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"></path>
          </svg>
        </div>
        <div class="pl-4 text-green-800 dark:text-green-600">
          <h4 class="text-base font-medium tracking-wider">Register Account</h4>
        </div>
      </div>
      <div class="relative flex items-center pb-8">
        <div
          class="absolute inset-0 flex h-full w-8 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="relative z-10 inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-green-800 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"></path>
          </svg>
        </div>
        <div class="pl-4 text-green-800 dark:text-green-600">
          <h4 class="text-base font-medium tracking-wider">Personal Details</h4>
        </div>
      </div>
      <div class="relative flex items-center pb-8">
        <div
          class="absolute inset-0 flex h-full w-8 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="relative z-10 inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-green-800 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"></path>
          </svg>
        </div>
        <div class="pl-4 text-green-800 dark:text-green-600">
          <h4 class="text-base font-medium tracking-wider">Payment Details</h4>
        </div>
      </div>
      <div class="relative flex items-center pb-8">
        <div
          class="absolute inset-0 flex h-full w-8 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-gray-400"></div>
        </div>
        <div
          class="relative z-10 inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500 text-white dark:bg-indigo-700"
        >
          4
        </div>
        <div class="pl-4 text-indigo-700 dark:text-indigo-400">
          <h4 class="text-base font-medium tracking-wider">Shipping Details</h4>
        </div>
      </div>
      <div class="relative flex items-center">
        <div
          class="relative z-10 inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-black"
        >
          5
        </div>
        <div class="pl-4 text-gray-600">
          <h4 class="text-base font-medium tracking-wider">Confirm Details</h4>
        </div>
      </div>
    </div>
  </div>
</div>
