<div
  class="px-5 py-2 flex flex-wrap items-start justify-start justify-items-start w-full">
  <div class="flex flex-wrap w-full">
    <div class="w-full md:pr-10 md:py-6">
      <div class="flex relative pb-8 items-center ">
        <div
          class="h-full w-8 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="flex-shrink-0 w-8 h-8 rounded-full bg-green-800 inline-flex items-center justify-center text-white relative z-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"
            ></path>
          </svg>
        </div>
        <div class=" pl-4 text-green-800 dark:text-green-600">
          <h4 class="font-medium text-base  tracking-wider">
            Register Account
          </h4>
        </div>
      </div>
      <div class="flex relative pb-8 items-center">
        <div
          class="h-full w-8 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="flex-shrink-0 w-8 h-8 rounded-full bg-green-800 inline-flex items-center justify-center text-white relative z-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"
            ></path>
          </svg>
        </div>
        <div class=" pl-4 text-green-800 dark:text-green-600">
          <h4 class="font-medium text-base  tracking-wider">
            Personal Details
          </h4>
        </div>
      </div>
      <div class="flex relative pb-8 items-center">
        <div
          class="h-full w-8 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[2px] bg-green-800"></div>
        </div>
        <div
          class="flex-shrink-0 w-8 h-8 rounded-full bg-green-800 inline-flex items-center justify-center text-white relative z-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              fill="currentColor"
              d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"
            ></path>
          </svg>
        </div>
        <div class=" pl-4 text-green-800 dark:text-green-600">
          <h4 class="font-medium text-base  tracking-wider">
            Payment Details
          </h4>
        </div>
      </div>
      <div class="flex relative pb-8 items-center">
        <div
          class="h-full w-8 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[2px] bg-gray-400"></div>
        </div>
        <div
          class="flex-shrink-0 w-8 h-8 rounded-full bg-indigo-500 dark:bg-indigo-700 inline-flex items-center justify-center text-white relative z-10">
          4
        </div>
        <div class=" pl-4 text-indigo-700 dark:text-indigo-400">
          <h4 class="font-medium text-base  tracking-wider">
            Shipping Details
          </h4>
        </div>
      </div>
      <div class="flex relative items-center">
        <div
          class="flex-shrink-0 w-8 h-8 rounded-full bg-gray-400 inline-flex items-center justify-center text-black relative z-10">
          5
        </div>
        <div class=" text-gray-600 pl-4">
          <h4 class="font-medium text-base  tracking-wider">
            Confirm Details
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
