<div class="flex flex-wrap items-center justify-center space-x-8">
  <label
    for="switchOne"
    class="flex cursor-pointer items-center dark:text-white"
  >
    <div class="relative">
      <input
        type="checkbox"
        id="switchOne"
        class="peer sr-only"
        role="switch"
        aria-labelledby="Toggle-Label-1"
      />
      <div
        class="block h-6 w-12 rounded-full bg-gray-400 ring-offset-4 ring-offset-gray-50 peer-checked:bg-indigo-300 peer-focus:ring-2 peer-focus:ring-indigo-600 motion-safe:transition-colors motion-safe:duration-300 dark:bg-zinc-600 dark:ring-offset-zinc-950"
      >
      </div>
      <div
        class="absolute left-0 top-0 h-6 w-6 rounded-full bg-gray-300 ring-1 ring-inset ring-indigo-600 peer-checked:translate-x-full peer-checked:bg-indigo-800 peer-checked:ring-0 motion-safe:transition motion-safe:duration-300 dark:bg-zinc-400 dark:ring-0"
      >
      </div>
      <span id="Toggle-Label-1" class="sr-only">Toggle One</span>
    </div>
  </label>

  <label
    for="switchTwo"
    class="flex cursor-pointer items-center dark:text-white"
  >
    <div class="relative">
      <input
        type="checkbox"
        id="switchTwo"
        class="peer sr-only"
        role="switch"
        aria-labelledby="Toggle-Label-2"
      />
      <div
        class="block h-4 w-12 rounded-full bg-gray-400 ring-offset-[6px] ring-offset-gray-50 peer-checked:bg-indigo-300 peer-focus:ring-2 peer-focus:ring-indigo-600 motion-safe:transition-colors motion-safe:duration-300 dark:bg-zinc-600 dark:ring-offset-zinc-950"
      >
      </div>
      <div
        class="absolute -top-1 left-0 h-6 w-6 rounded-full bg-gray-200 ring-1 ring-inset ring-indigo-600 peer-checked:translate-x-full peer-checked:bg-indigo-800 peer-checked:ring-0 motion-safe:transition motion-safe:duration-300 dark:bg-zinc-400 dark:ring-0 dark:peer-checked:bg-indigo-600"
      >
      </div>
      <span id="Toggle-Label-2" class="sr-only">Toggle Two</span>
    </div>
  </label>
  <label for="switchThree" class="flex cursor-pointer items-center">
    <div class="relative">
      <input
        type="checkbox"
        id="switchThree"
        class="peer sr-only"
        role="switch"
        aria-labelledby="Toggle-Label-3"
      />
      <div
        class="block h-7 w-12 rounded-full bg-gray-400 ring-offset-2 ring-offset-gray-50 peer-checked:bg-indigo-300 peer-focus:ring-2 peer-focus:ring-indigo-600 motion-safe:transition-colors motion-safe:duration-300 dark:bg-zinc-600 dark:ring-offset-zinc-950"
      >
      </div>
      <div
        class="absolute left-1 top-1 h-5 w-5 rounded-full bg-gray-200 ring-1 ring-inset ring-indigo-600 peer-checked:translate-x-full peer-checked:bg-indigo-800 peer-checked:ring-0 motion-safe:transition motion-safe:duration-300 dark:bg-zinc-400 dark:ring-0"
      >
      </div>
      <span id="Toggle-Label-3" class="sr-only">Toggle Three</span>
    </div>
  </label>
</div>
