---
interface Props {
  data: Array<{
    title: string;
    content: string;
    name?: string;
  }>;
}
const { data } = Astro.props;
---

<div
  class="border mt-6 mb-12 border-gray-400 divide-y divide-gray-400 dark:border-indigo-950 dark:divide-indigo-950 rounded-lg max-w-3xl shadow-md dark:shadow-none">
  {
    data.map((item) => (
      <details
        class="group"
        open={false}
        name={item.name}>
        <summary
          class="flex items-center justify-between px-4 py-4 cursor-pointer text-zinc-900 dark:text-zinc-300 bg-gray-100 rounded-lg dark:bg-zinc-950 dark:group-open:bg-zinc-900 group-open:bg-gray-200 focus:outline-2 outline-gray-600 dark:outline-zinc-500"
          tabindex="0">
          <span class="text-lg   ">{item.title}</span>
          <svg
            class="w-5 h-5 shrink-0 transition duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>

        <div class="not-prose pt-3 px-6 text-start text-base pb-5  ">
          {item.content}
        </div>
      </details>
    ))
  }
</div>
