---
import DarkModeButton from "./DarkModeButton.svelte";
import { getCollection } from "astro:content";
import Hamburger from "./Hamburger.svelte";
import { Image } from "astro:assets";
import Search from "astro-pagefind/components/Search";

import LogoDarkMode from "../assets/logoVectorLight.svg";
import LogoLightMode from "../assets/logoVectorDark.svg";
const blogEntries = await getCollection("components");
const documentEntries = blogEntries.map((entry) => ({
  slug: "/components/" + entry.slug,
  title: entry.data.title,
  order: entry.data.order,
  type: entry.data.type,
}));
documentEntries.sort((a, b) => a.order - b.order);

interface Props {
  currentSlug?: string;
}

const { currentSlug } = Astro.props;
---

<nav
  aria-label="Site Navigation"
  class="sticky top-0 z-[100] flex max-h-[8dvh] min-h-[8dvh] flex-row items-center justify-between border-b border-gray-400 bg-gray-50 px-3 py-2 font-display sm:px-8 md:px-10 lg:px-16 xl:px-32 dark:border-zinc-700 dark:bg-zinc-950"
>
  <div class="flex flex-row items-center justify-between">
    <Hamburger
      client:load
      entryMap={documentEntries}
      currentSlug={currentSlug}
    />
    <a href="/" class="mx-6 flex items-center justify-start">
      <Image
        src={LogoLightMode}
        alt="Logo"
        class="mr-1 block h-8 w-8 sm:mx-4 dark:hidden"
      />
      <Image
        src={LogoDarkMode}
        alt="Logo"
        class="mr-1 hidden h-8 w-8 sm:mx-4 dark:block"
      />
      <span class="text-xl sm:text-2xl">ravixUI</span>
    </a>
  </div>
  <div class="hidden sm:w-1/2 dark:sm:block">
    <Search
      id="search1"
      className="pagefind-ui dark"
      uiOptions={{ showImages: false, excerptLength: 15 }}
    />
  </div>
  <div class="hidden sm:block sm:w-1/2 dark:hidden">
    <Search
      id="search2"
      className="pagefind-ui light"
      uiOptions={{ showImages: false, excerptLength: 15 }}
    />
  </div>
  <div class="block h-full items-center justify-center">
    <div class="inline-flex h-full w-full items-center justify-end lg:mx-3">
      <div class="hidden h-full items-center space-x-4 lg:inline-flex">
        <a
          href="/components/gettingstarted"
          class="p-4 text-base hover:text-blue-400">Documentation</a
        >
      </div>
      <a href="https://github.com/ravis9511/ui-ravix" class="p-3 rounded-full hover:bg-gray-200 dark:hover:bg-zinc-800">
        <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-labelledby="github-icon"
              >
              <title id="github-icon">Github Repository Link</title>
              <path
                fill="currentColor"
                d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
              ></path></svg
            >
        </a>
      <DarkModeButton client:load />
    </div>
  </div>
</nav>

<style is:global>
  .pagefind-ui.light {
    --pagefind-ui-scale: 0.6;
    --pagefind-ui-primary: #12102c;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.5rem;
    --pagefind-ui-font: "Figtree Variable", sans-serif;
    font-weight: 400;
  }

  .pagefind-ui.dark {
    --pagefind-ui-scale: 0.6;
    --pagefind-ui-primary: #ffffff;
    --pagefind-ui-text: #ffffff;
    --pagefind-ui-background: #18181b;
    --pagefind-ui-border: #29292f;
    --pagefind-ui-tag: #152028;
    --pagefind-ui-font: "Figtree Variable", sans-serif;
  }
  .pagefind-ui .pagefind-ui__search-input {
    color: var(--pagefind-ui-text);
    font-size: 18px;
    font-weight: 400;
  }
  .pagefind-ui__search-input.svelte-e9gkc3::placeholder {
    opacity: 0.5;
  }
  .pagefind-ui .pagefind-ui__result-title {
    font-size: 18px !important;
  }
  .pagefind-ui .pagefind-ui__result-excerpt {
    font-size: 16px !important;
  }
  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 9999;
    padding: 0 2em 1em;
    max-height: calc(100dvh - 10dvh);

    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  }
</style>
