<div
  class="flex w-full flex-wrap items-start justify-start justify-items-start px-5 py-2 text-gray-900 dark:text-gray-100"
>
  <div class="flex w-full flex-wrap">
    <ol class="w-full">
      <li class="relative flex items-center justify-center py-4">
        <div class="w-1/6 pl-2 pr-3 text-end">
          <time datetime="2024-05-20">May 20, 2024</time>
        </div>
        <div
          class="absolute left-[calc(100%/6)] top-1/2 flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="relative z-10 h-3 w-3 items-center justify-center rounded-full bg-indigo-400 dark:bg-indigo-900"
        ></div>
        <div
          class="ml-3 flex flex-grow flex-col rounded-lg border border-gray-400 p-4 dark:border-zinc-700"
        >
          <h2 class="mb-1 text-sm font-medium tracking-wider">
            v1.0.0
            <a
              class="ml-1 text-blue-600 hover:text-blue-700 dark:text-blue-400"
              href="#"
              >Full Changelogs</a
            >
          </h2>
          <div class="leading-relaxed">
            <ul class="list-inside list-disc text-sm md:text-base">
              <li>Added a new feature</li>
              <li>Fixed a bug</li>
              <li>Improved performance</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="relative flex items-center justify-center py-4">
        <div class="w-1/6 pl-2 pr-3 text-end">
          <time datetime="2024-04-10">April 10, 2024</time>
        </div>
        <div
          class="absolute left-[calc(100%/6)] top-1/2 flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="absolute bottom-1/2 left-[calc(100%/6)] flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="relative z-10 h-3 w-3 items-center justify-center rounded-full bg-indigo-400 dark:bg-indigo-900"
        ></div>
        <div
          class="ml-3 flex flex-grow flex-col rounded-lg border border-gray-400 p-4 dark:border-zinc-700"
        >
          <h2 class="mb-1 text-sm font-medium tracking-wider">
            v0.9.0
            <a
              class="ml-1 text-blue-600 hover:text-blue-700 dark:text-blue-400"
              href="#"
              >Full Changelogs</a
            >
          </h2>
          <div class="leading-relaxed">
            <ul class="list-inside list-disc text-sm md:text-base">
              <li>Added a new feature</li>
              <li>Improved performance</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="relative flex items-center justify-center py-4">
        <div class="w-1/6 pl-2 pr-3 text-end">
          <time datetime="2024-03-11">March 11, 2024</time>
        </div>
        <div
          class="absolute left-[calc(100%/6)] top-1/2 flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="absolute bottom-1/2 left-[calc(100%/6)] flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="relative z-10 h-3 w-3 items-center justify-center rounded-full bg-indigo-400 dark:bg-indigo-900"
        ></div>
        <div
          class="ml-3 flex flex-grow flex-col rounded-lg border border-gray-400 p-4 dark:border-zinc-700"
        >
          <h2 class="mb-1 text-sm font-medium tracking-wider">
            v0.8.0
            <a
              class="ml-1 text-blue-600 hover:text-blue-700 dark:text-blue-400"
              href="#"
              >Full Changelogs</a
            >
          </h2>
          <div class="leading-relaxed">
            <ul class="list-inside list-disc text-sm md:text-base">
              <li>Fixed a bug</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="relative flex items-center justify-center py-4">
        <div class="w-1/6 pl-2 pr-3 text-end">
          <time datetime="2024-02-10">February 10, 2024</time>
        </div>
        <div
          class="absolute bottom-1/2 left-[calc(100%/6)] flex h-[calc(60%)] w-3 items-center justify-center"
        >
          <div class="h-full w-[2px] bg-indigo-400 dark:bg-indigo-900"></div>
        </div>
        <div
          class="relative z-10 h-3 w-3 items-center justify-center rounded-full bg-indigo-400 dark:bg-indigo-900"
        ></div>
        <div
          class="ml-3 flex flex-grow flex-col rounded-lg border border-gray-400 p-4 dark:border-zinc-700"
        >
          <h2 class="mb-1 text-sm font-medium tracking-wider">
            v0.0.1
            <a
              class="ml-1 text-blue-600 hover:text-blue-700 dark:text-blue-400"
              href="#"
              >Full Changelogs</a
            >
          </h2>
          <div class="leading-relaxed">
            <ul class="list-inside list-disc text-sm md:text-base">
              <li>Initial Release</li>
              <li>Fully Tested</li>
              <li>Documentation</li>
              <li>Ready for Production</li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
