<div class="not-prose mb-8 flex max-w-4xl flex-col gap-6 md:flex-row">
  <div
    class="flex flex-col border border-gray-500 bg-white text-start text-black dark:border-zinc-800 dark:bg-black dark:text-white"
  >
    <div class="flex flex-col justify-between px-6 py-4">
      <div class="flex flex-col">
        <h3 class="mt-2 text-xl font-semibold lg:text-2xl">
          Uses a pure white/black background with pure black/white text
        </h3>

        <p class="my-4 text-base leading-7 md:text-lg md:leading-8">
          While, there are no hard and fast rules for paragraphs, some commonly
          used guidelines are based on width and spacing. The sweet spot for
          paragraph width is between 600px and 750px for large screens, which is
          commonly seen in most popular blogs, articles, content pieces, etc.
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col border border-gray-500 bg-gray-50 text-start text-zinc-950 dark:border-zinc-800 dark:bg-zinc-950 dark:text-gray-50"
  >
    <div class="flex flex-col justify-between px-6 py-4">
      <div class="flex flex-col">
        <h3 class="mt-2 text-xl font-semibold lg:text-2xl">
          Uses an off white/back background with off black/white text.
        </h3>

        <p class="my-4 text-base leading-7 md:text-lg md:leading-8">
          While, there are no hard and fast rules for paragraphs, some commonly
          used guidelines are based on width and spacing. The sweet spot for
          paragraph width is between 600px and 750px for large screens, which is
          commonly seen in most popular blogs, articles, content pieces, etc.
        </p>
      </div>
    </div>
  </div>
</div>
