<div class="not-prose flex flex-col md:flex-row max-w-4xl gap-6 mb-8">
  <div class="flex flex-col text-start bg-white text-black dark:bg-black dark:text-white dark:border-zinc-800 border border-gray-500">
    <div class="px-6 py-4 flex flex-col justify-between">
      <div class="flex flex-col">
        <h3 class="text-xl lg:text-2xl font-semibold mt-2">
          Uses a pure white/black background with pure black/white text
        </h3>

        <p class="my-4 text-base md:text-lg leading-7 md:leading-8 ">
            While, there are no hard and fast rules for paragraphs, some commonly used guidelines are based on width and spacing. The sweet spot for paragraph width is between 600px and 750px for large screens, which is commonly seen in most popular blogs, articles, content pieces, etc. 
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col text-start bg-gray-50 text-zinc-950 dark:bg-zinc-950 dark:text-gray-50 dark:border-zinc-800 border border-gray-500">
    <div class="px-6 py-4 flex flex-col justify-between">
      <div class="flex flex-col">
        <h3 class="text-xl lg:text-2xl font-semibold mt-2">
          Uses an off white/back background with off black/white text.
        </h3>

        <p class="my-4 text-base md:text-lg leading-7 md:leading-8 ">
            While, there are no hard and fast rules for paragraphs, some commonly used guidelines are based on width and spacing. The sweet spot for paragraph width is between 600px and 750px for large screens, which is commonly seen in most popular blogs, articles, content pieces, etc.
        </p>
      </div>
    </div>
  </div>
</div>
