<div class="my-6 flex -space-x-3">
  <div
    role="img"
    class="relative flex hover:z-20 hover:scale-110 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
    aria-label="State Available for User Jane"
    title="Jane"
  >
    <img
      class="h-10 w-10 overflow-hidden rounded-full ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/avatar.jpg"
      aria-hidden="true"
      alt="Jane"
    />
  </div>
  <div
    role="img"
    class="relative flex hover:z-20 hover:scale-110 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
    aria-label="State Busy for User Hari"
    title="Hari"
  >
    <img
      class="h-10 w-10 overflow-hidden rounded-full ring-2 ring-red-600 dark:ring-red-500"
      width="40"
      height="40"
      src="/avatar2.jpg"
      aria-hidden="true"
      alt="Hari"
    />
  </div>
  <div
    role="img"
    class="relative flex hover:z-20 hover:scale-110 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
    aria-label="State Away for User John"
    title="John"
  >
    <img
      class="h-10 w-10 overflow-hidden rounded-full ring-2 ring-yellow-500 dark:ring-yellow-400"
      width="40"
      height="40"
      src="/avatar3.jpg"
      aria-hidden="true"
      alt="John"
    />
  </div>

  <div
    role="img"
    class="relative flex hover:z-20 hover:scale-110 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out"
    aria-label="State Available for User Emily"
    title="Emily"
  >
    <img
      class="h-10 w-10 overflow-hidden rounded-full ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/avatar4.jpg"
      aria-hidden="true"
      alt="Emily"
    />
  </div>

  <a
    href="#"
    title="22 more users available"
    class="z-[1] flex h-[42px] w-[42px] items-center justify-center rounded-full bg-gray-400 text-black outline-offset-2 outline-gray-800 hover:z-20 hover:scale-110 focus:outline-2 motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out dark:bg-gray-800 dark:text-white dark:outline-zinc-500"
  >
    +22 <span class="sr-only">more users</span>
  </a>
</div>
