<div class="flex -space-x-3 my-6" >
  <div
    role="img"
    class="flex relative motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out hover:z-20 hover:scale-110 "
    aria-label="State Available for User Jane"
    title="Jane">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/avatar.jpg"
      aria-hidden="true"
      alt="Jane"
    />
  </div>
  <div
    role="img"
    class="flex relative motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out hover:z-20 hover:scale-110"
    aria-label="State Busy for User Hari"
    title="Hari">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-red-600 dark:ring-red-500"
      width="40"
      height="40"
      src="/avatar2.jpg"
      aria-hidden="true"
      alt="Hari"
    />
  </div>
  <div
    role="img"
    class="flex relative motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out hover:z-20 hover:scale-110"
    aria-label="State Away for User John"
    title="John">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-yellow-500 dark:ring-yellow-400"
      width="40"
      height="40"
      src="/avatar3.jpg"
      aria-hidden="true"
      alt="John"
    />
  </div>
  
  <div
    role="img"
    class="flex relative motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out hover:z-20 hover:scale-110"
    aria-label="State Available for User Emily"
    title="Emily">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/avatar4.jpg"
      aria-hidden="true"
      alt="Emily"
    />
  </div>

  <a
    href="#" title="22 more users available"
    class="flex motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-in-out z-[1] hover:z-20 hover:scale-110 w-[42px] h-[42px] justify-center items-center rounded-full  bg-gray-400 dark:bg-gray-800 text-black dark:text-white focus:outline-2 outline-offset-2 outline-gray-800 dark:outline-zinc-500"
    >
    +22 <span class="sr-only">more users</span>
  </a>
</div>
