<div class="flex -space-x-4 my-6">
  <div
    role="img"
    class="flex relative transition-all hover:z-20 hover:scale-110"
    aria-label="State Available for User Jane"
    title="Jane">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/src/assets/avatar.jpg"
      aria-hidden="true"
      alt="Display"
    />
  </div>
  <div
    role="img"
    class="flex relative transition-all hover:z-20 hover:scale-110"
    aria-label="State Busy for User Hari"
    title="Hari">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-red-600 dark:ring-red-500"
      width="40"
      height="40"
      src="/src/assets/avatar2.jpg"
      aria-hidden="true"
      alt="Display"
    />
  </div>
  <div
    role="img"
    class="flex relative transition-all hover:z-20 hover:scale-110"
    aria-label="State Away for User John"
    title="John">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-yellow-500 dark:ring-yellow-400"
      width="40"
      height="40"
      src="/src/assets/avatar3.jpg"
      aria-hidden="true"
      alt="Display"
    />
  </div>
  
  <div
    role="img"
    class="flex relative transition-all hover:z-20 hover:scale-110"
    aria-label="State Available for User Emily"
    title="Emily">
    <img
      class="w-10 h-10 rounded-full overflow-hidden ring-2 ring-green-600 dark:ring-green-400"
      width="40"
      height="40"
      src="/src/assets/avatar4.jpg"
      aria-hidden="true"
      alt="Display"
    />
  </div>

  <a
    href="#"
    class="flex transition-all z-[1] hover:z-20 hover:scale-110 w-[42px] h-[42px] justify-center items-center rounded-full  bg-gray-400 dark:bg-gray-800 text-black dark:text-white"
    aria-label="22 more users available">
    +22
  </a>
</div>
