<nav
  class="flex max-w-max text-zinc-950 dark:text-zinc-100 text-base "
  aria-label="Breadcrumb">
  <ol class="flex flex-wrap ">
    <li class="flex items-center">
      <a href="#" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">Home</a><span class="mx-2 text-xl" aria-hidden="true">&gt;</span>
    </li>
    <li class="flex items-center">
      <a href="#" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">About</a><span class="mx-2 text-xl" aria-hidden="true">&gt;</span>
    </li>
    <li class="flex items-center">
      <a href="#" aria-current="page" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">Blog</a>
    </li>
  </ol>
</nav>
