<div class="flex flex-col ">
<nav
  class="flex max-w-max text-zinc-950 dark:text-zinc-100 text-base my-4 bg-gray-200 dark:bg-zinc-900 px-4 py-2 rounded-md"
  aria-label="Breadcrumb">
  <ol class="flex flex-wrap ">
    <li class="flex items-center">
      <a href="#" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">Home</a><span class="mx-2" aria-hidden="true">/</span>
    </li>
    <li class="flex items-center">
      <a href="#" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">About</a><span class="mx-2" aria-hidden="true">/</span>
    </li>
    <li class="flex items-center">
      <a href="#" aria-current="page" class="text-blue-700 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-600">Blog</a>
    </li>
  </ol>
</nav>
<nav
  class="flex max-w-max text-zinc-950 dark:text-zinc-100 text-base my-4 bg-indigo-100 dark:bg-indigo-950/50 px-6 py-2 rounded-full"
  aria-label="Breadcrumb">
  <ol class="flex flex-wrap ">
    <li class="flex items-center">
      <a href="#" class="text-blue-800 dark:text-blue-300 hover:text-blue-500 dark:hover:text-blue-600">Home</a><span class="mx-2 text-xl" aria-hidden="true">&gt;</span>
    </li>
    <li class="flex items-center">
      <a href="#" class="text-blue-800 dark:text-blue-300 hover:text-blue-500 dark:hover:text-blue-600">About</a><span class="mx-2 text-xl" aria-hidden="true">&gt;</span>
    </li>
    <li class="flex items-center">
      <a href="#" aria-current="page" class="text-blue-800 dark:text-blue-300 hover:text-blue-500 dark:hover:text-blue-600">Blog</a>
    </li>
  </ol>
</nav>
</div>