---
import "../styles/global.css";
---

<section
  class="prose prose-sm prose-zinc prose-indigo mx-auto flex w-full max-w-3xl flex-col justify-center justify-items-center self-center pb-12 sm:prose-base dark:prose-invert prose-headings:text-zinc-900 prose-p:max-w-3xl prose-p:text-zinc-800 prose-li:text-zinc-800 prose-table:max-w-3xl prose-thead:border-zinc-400 prose-tr:border-zinc-300 prose-th:text-start sm:prose-p:my-3 lg:mx-0 lg:max-w-2xl xl:max-w-3xl xl:prose-ul:max-w-3xl xl:prose-li:marker:text-gray-600 2xl:max-w-4xl dark:prose-headings:text-zinc-100 dark:prose-p:text-zinc-300 dark:prose-li:text-zinc-300 dark:prose-li:marker:text-gray-400 dark:prose-thead:border-zinc-700 dark:prose-tr:border-zinc-800"
>
  <slot />
</section>
