---
import "../styles/global.css";

---

<section 
  class="  prose prose-zinc  dark:prose-invert  prose-base mx-2 lg:mx-0 sm:prose-lg flex flex-col self-center max-w-3xl lg:max-w-2xl xl:max-w-3xl 2xl:max-w-4xl prose-p:max-w-3xl xl:prose-ul:max-w-3xl xl:prose-li:marker:text-gray-400 dark:prose-li:marker:text-gray-400
        prose-p:text-zinc-800 prose-li:text-zinc-800 dark:prose-li:text-zinc-300 dark:prose-p:text-zinc-300 prose-headings:text-zinc-900 dark:prose-headings:text-zinc-100 prose-th:text-start prose-table:max-w-3xl prose-thead:border-zinc-400 prose-tr:border-zinc-300 dark:prose-thead:border-zinc-700 dark:prose-tr:border-zinc-800
        sm:prose-p:my-3 pb-12">
  <slot />
</section>
