<form
  class="flex w-full flex-col items-start justify-start gap-4 p-6 text-zinc-950 dark:text-gray-50"
>
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="checkbox"
      id="checkbox1"
      value="checkbox1"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="checkbox1" class="block text-base">Receive notifications</label>
  </div>
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="checkbox"
      id="checkbox2"
      value="checkbox2"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="checkbox2" class="block text-base"
      >Send Promotional Emails</label
    >
  </div>
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="checkbox"
      id="checkbox3"
      value="checkbox3"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="checkbox3" class="block text-base">Read Privacy Policy</label>
  </div>
</form>
