<form
  class="flex w-full flex-col items-start justify-start gap-2 p-6 text-zinc-950 dark:text-gray-50"
>
  <label
    class="mb-4 text-base after:ml-1 after:text-red-500 after:content-['*']"
    >Choose the color for your shirt</label
  >
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="radio"
      id="radio1"
      name="radio-group"
      value="red"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="radio1" class="block text-base">Red</label>
  </div>
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="radio"
      id="radio2"
      name="radio-group"
      value="blue"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="radio2" class="block text-base">Blue</label>
  </div>
  <div class="mb-4 flex flex-row items-center gap-4">
    <input
      type="radio"
      id="radio3"
      name="radio-group"
      value="green"
      class="h-5 w-5 border-gray-300 focus:ring focus:ring-indigo-500 dark:focus:ring-indigo-400"
    />
    <label for="radio3" class="block text-base">Green</label>
  </div>
</form>
