<form 
class="flex flex-col gap-4 items-start justify-start w-full p-6 text-zinc-950 dark:text-gray-50">
  <div class="mb-4">
    <label
      for="country"
      class="block mb-1 text-base after:content-['*'] after:ml-1 after:text-red-500"
      >Select your country</label
    >
    <select
      id="country"
      class="border border-gray-400 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-zinc-900 text-black dark:text-white p-3 w-96  focus:border-indigo-500 focus:outline-none focus:ring-0 focus:ring-indigo-500 focus:ring-opacity-25 focus:ring-offset-0">
      <option selected>Choose a country</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
  </div>

  <div class="mb-4">
    <label
      for="language"
      class="block mb-1 text-base after:content-['*'] after:ml-1 after:text-red-500"
      >Select your language</label
    >
    <select
      id="language"
      class="border border-gray-400 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-zinc-900 text-black dark:text-white p-3 w-96  focus:border-indigo-500 focus:outline-none focus:ring-0 focus:ring-indigo-500 focus:ring-opacity-25 focus:ring-offset-0">
      <option selected>Choose a language</option>
      <option value="english">English</option>
      <option value="french">French</option>
      <option value="german">German</option>
      <option value="spanish">Spanish</option>
    </select>
  </div>

  <div>
    <label
      for="timezone"
      class="block mb-1 text-base after:content-['*'] after:ml-1 after:text-red-500"
      >Select your timezone</label
    >
    <select
      id="timezone"
      class="border border-gray-400 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-zinc-900 text-black dark:text-white p-3 w-96  focus:border-indigo-500 focus:outline-none focus:ring-0 focus:ring-indigo-500 focus:ring-opacity-25 focus:ring-offset-0">
      <option selected>Choose a timezone</option>
      <option value="pst">Pacific Standard Time</option>
      <option value="mst">Mountain Standard Time</option>
      <option value="cst">Central Standard Time</option>
      <option value="est">Eastern Standard Time</option>
    </select>
  </div>
</form>
